/**  =====================
      Navbar-varients css start
==========================  **/

.nav-item label.badge-top-left {
    right: 4.4%;
    bottom: 38px;
}

.nav-item .radio-inline {
    margin-top: 7px;
}

.nav-tabs.md-tabs.tab-timeline li a{
  padding: 20px 0 10px;
  color: $inverse-color;
  font-size: 16px;
}
.tab-timeline .slide{
  bottom: -1px;
}
.image-upload input {
  visibility:hidden;
  max-width:0;
  max-height:0
}
.ellipsis::after{
  top: 15px;
  border: none;
  position: absolute;
  content: '\f142';
  font-family: FontAwesome;
  right: 30px;
}

/**====== Navbar-varients css end ======**/
