@media only screen and (min-width: 1200px) and (max-width: 1400px) {
  .pcoded-inner-content {
    padding: 16px 12px;
  }
}

@media only screen and (max-width: 1199px) {
  .pcoded-inner-content {
    padding: 12px 12px;
  }

  .m-b-15-sm {
    margin-bottom: 15px;
  }

  .m-b-10-sm {
    margin-bottom: 10px;
  }

  .no-wrap-sm {
    flex-wrap: nowrap !important;
  }

  .advanced-search {
    left: 12px;
    &:before {
      left: 260px !important;
    }
    &:after {
      left: 261px !important;
    }
  }
}

@media only screen and (max-width: 900px) {
  .search-wrapper {
    width: 190px;
  }
}
