<nav class="navbar navbar-expand-md navbar-light bg-light fixed-top p-t-0 p-b-3">
  <div class="container">
    <a [routerLink]="['/dashboard']" class="navbar-brand">
      <img src="assets/ae-logo.png" alt="" height="50" width="200">
    </a>
    <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse justify-content-between" id="navbarCollapse">
      <div class="navbar-nav">
        <a [routerLink]="['/dashboard']"
           routerLinkActive="active"
           class="nav-item nav-link">
          <span class="p-b-5">
            {{'HEADER.TITLES.dashboard' | translate}}
          </span>
        </a>
        <a [routerLink]="['events/for-you']"
           routerLinkActive="active"
           class="nav-item nav-link">
          <span class="p-b-5">
            {{'HEADER.TITLES.events_for_you' | translate}}
          </span>
        </a>
        <a [routerLink]="['events/navigator']"
           routerLinkActive="active"
           class="nav-item nav-link">
          <span class="p-b-5">
          <i class="fa fa-search"></i>
            {{'HEADER.TITLES.event_navigator' | translate}}
          </span>
        </a>
      </div>
      <div class="navbar-nav">
        <a [routerLink]="['dashboard/test']"
           routerLinkActive="active"
           class="nav-item nav-link">
          <span class="p-b-5">
          <i class="fa fa-plus"></i>
            {{'HEADER.TITLES.create_event' | translate}}
          </span>
        </a>
        <a [routerLink]="['events/yours']"
           routerLinkActive="active"
           class="nav-item nav-link">
          <span class="p-b-5">
            {{'HEADER.TITLES.your_events' | translate}}
          </span>
        </a>
        <a [routerLink]="['/sign-in']"
           routerLinkActive="active"
           class="nav-item nav-link">
          <span class="p-b-5">
            {{'HEADER.TITLES.sign_in' | translate}}
          </span>
        </a>
      </div>
    </div>
  </div>
</nav>
