@import "~src/assets/general-styles/variables";

$color: radial-gradient(circle, rgba(248, 75, 4, 1) 0%, rgba(249, 211, 35, 1) 100%);

.navbar {
  &:after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    height: 4px;
    width: 100%;
    z-index: -1;
    background: $color;
  }

  .nav-item {
    padding: 0 !important;
  }

  .nav-item {
    color: $font-color !important;

    span {
      padding:15px !important;
      font-weight: 600 !important;
    }

    &.active {
      color: $ae-color !important;

      span {
        background: rgba(240, 151, 72, 0.1) !important;
      }
    }

    &:hover {
      color: $ae-hover-color !important;

      span {
        background: rgba(252, 115, 23, 0.1) !important;
      }

    }
  }
}

@media (min-width: 1400px) {
  .container, .container-sm, .container-md, .container-lg, .container-xl {
    max-width: 1350px !important;
  }
}
