<nav class="navbar navbar-expand-md navbar-light bg-light fixed-top p-t-0 p-b-3">
  <div class="container">
    <a [routerLink]="['/dashboard']" class="navbar-brand">
      <img src="assets/images/ae-logo.png" alt="" height="35" width="140">
    </a>
    <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse text-center justify-content-between" id="navbarCollapse">
      <div class="navbar-nav">
        <span *ngIf="isAuth">
          <a [routerLink]="['events/for-you']"
             routerLinkActive="active"
             class="nav-item nav-link">
            <span class="item-inner">
              {{'HEADER.TITLES.events_for_you' | translate}}
            </span>
          </a>
        </span>
        <span>
          <a [routerLink]="['events/navigator']"
             routerLinkActive="active"
             class="nav-item nav-link">
            <span class="item-inner">
            <i class="fa fa-search"></i>
              {{'HEADER.TITLES.event_navigator' | translate}}
            </span>
          </a>
        </span>
      </div>
      <div class="navbar-nav">
        <span *ngIf="isAuth">
          <a [routerLink]="['profile', currentUser.id, 'create-event']"
             routerLinkActive="active"
             class="nav-item nav-link">
            <span class="item-inner">
            <i class="icon-plus fs-11"></i>
              {{'HEADER.TITLES.create_event' | translate}}
            </span>
          </a>
        </span>
        <span *ngIf="isAuth">
          <a [routerLink]="['profile', currentUser.id, 'created-events']"
             routerLinkActive="active"
             class="nav-item nav-link">
            <span class="item-inner">
              {{'HEADER.TITLES.your_events' | translate}}
            </span>
          </a>
        </span>
        <a class="nav-item nav-link" *ngIf="isAuth && currentUser; else signIn">
          <span class="item-inner"
                [ngbTooltip]="more"
                #moreTooltip="ngbTooltip"
                [container]="'body'"
                [autoClose]="'outside'"
                placement="bottom"
                triggers="click:blur">
            <img [src]="currentUser?.photoUrl ? currentUser?.photoUrl : defaultProfilePic" alt=""
                 style="border-radius: 50%; height: 25px">
            <span class="profile-dd-wrapper">
              <span class="m-l-5">
              {{currentUser.firstName}}
                <i class="icon-arrow m-l-3"></i>
              </span>
            </span>
          </span>
          <ng-template #more>
            <div class="user-more">
              <span class="font-weight-bold">{{currentUser.firstName + ' ' + currentUser.lastName}}</span>
              <hr class="m-t-5 m-b-5">
              <a class="my-link" (click)="moreTooltip.close()" [routerLink]="['profile', currentUser.id, 'create-event']">
                <i class="icon-plus color-ae m-r-5 fs-11"></i>
                {{'HEADER.TITLES.create_event' | translate}}
              </a>
              <a class="my-link" (click)="moreTooltip.close()" [routerLink]="['profile', currentUser.id , 'organizations', 'new']">
                <i class="icon-plus color-ae m-r-5 fs-11"></i>
                {{'HEADER.LABELS.create_new_org' | translate}}
              </a>
              <hr class="m-t-5 m-b-5">
              <a [routerLink]="['profile', currentUser.id , 'created-events', 'all']" class="my-link"
                 (click)="moreTooltip.close()">
                <i class="icon-my-profile color-ae m-r-5"></i>
                {{'HEADER.LABELS.my_profile' | translate}}
              </a>
              <a [routerLink]="['profile', currentUser.id , 'organizations', 'your']" class="my-link"
                 (click)="moreTooltip.close()">
                <i class="icon-company color-ae m-r-5"></i>
                {{'HEADER.LABELS.my_orgs' | translate}}
              </a>
              <a class="my-link" (click)="onSignOutClick(moreTooltip)">
                <i class="icon-logout color-ae m-r-5"></i>
                {{'HEADER.LABELS.sign_out' | translate}}
              </a>
            </div>
          </ng-template>
        </a>
        <ng-template #signIn>
          <a class="nav-item nav-link" (click)="onSignInClick()">
          <span class="item-inner">
            {{'HEADER.TITLES.sign_in' | translate}}
          </span>
          </a>
        </ng-template>
      </div>
    </div>
  </div>
</nav>
<div class="language">
  <i class="icon-language color-ae m-r-5"></i>
  <form class="new-form" [formGroup]="languageForm">
    <ng-select [items]="languages"
               id="language"
               class="new-element"
               bindLabel="name"
               bindValue="id"
               [clearable]="false"
               formControlName="language">
    </ng-select>
  </form>
</div>
<div style="height: 48px; width: 100%; display: block"></div>

<!--Sign Out Confirm modal -->
<div bsModal
     #signOutModal="bs-modal"
     class="modal fade new-modal"
     tabindex="-1"
     [config]="{backdrop: 'static', focus: false}"
     role="dialog"
     aria-labelledby="Modal"
     aria-hidden="true"
     (onHidden)="onHideSignOutModal()">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title color-ae">{{'HEADER.LABELS.sign_out_confirm' | translate}}</h4>
        <i class="icon-close" (click)=onHideSignOutModal()></i>
      </div>
      <div class="modal-body">
          <span>
            {{'HEADER.MESSAGES.sign_out' | translate}}
          </span>
        <div class="row">
          <div class="col-sm-12 d-flex flex-end">
            <button type="button"
                    class="btn-default"
                    (click)="onHideSignOutModal()">
              {{'BUTTONS.cancel' | translate}}
            </button>
            <button type="button"
                    class="btn-default color-ae m-l-10"
                    (click)="onSignOutConfirmed()">
              {{'HEADER.LABELS.sign_out' | translate}}
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!--/Sign Out Confirm modal -->

<!--Social Auth modal -->
<div bsModal
     #signInModal="bs-modal"
     class="modal fade new-modal"
     tabindex="-1"
     [config]="{backdrop: 'static', focus: false}"
     role="dialog"
     aria-labelledby="Modal"
     aria-hidden="true"
     (onHidden)="onHideSignInModal()">
  <app-social-auth (hideModal)="onHideSignInModal()">
  </app-social-auth>
</div>
<!--/Social Auth modal -->
