h3 {
  font-size: $font-size-large;
  font-weight: 700;
  color: #000;
}

.d-flex {
  @include flexbox();
}

.flex-start {
  @include justify-content(flex-start);
}

.flex-center {
  @include justify-content(center);
}

.flex-space-between {
  @include justify-content(space-between);
}

.align-center {
  @include align-items(center);
}

.align-top {
  @include align-items(flex-start);
}

.ml-auto {
  margin-left: auto;
}

.flex-container {
  @include flexbox();
}

.flex-end {
  @include justify-content(flex-end);
}

.text-ellipsis {
  @include text-overflow();
}

.text-bold {
  font-weight: bold;
}

.whitespace-nowrap {
  white-space: nowrap;
}

button {
  &:focus,
  &:active {
    outline: 0;
  }
}

.primary-text {
  font-size: 13px;
  font-weight: 600;
  color: $light-blue;
}

.link,
.new-link {
  font-size: 13px;
  font-weight: 600;
  color: $light-blue !important;
  cursor: pointer;
  &:hover {
    text-decoration: underline !important;
  }
  .outer {
    &:hover {
     text-decoration: underline;
    }
  }
}

.not-navigate {
  pointer-events: none;
  cursor: auto;
  color: $primary-text !important;
  font-weight: 600;
}

.row-tags-wrap {
  @include flex-wrap(wrap);
  .tag {
    margin-top: 2px;
    margin-bottom: 2px;
  }
}

.input-width-100 {
  width: 100px;
}

.input-width-110 {
  width: 110px;
}

.input-width-120 {
  width: 120px;
}

.input-width-130 {
  width: 130px;
}

.width-20 {
  width: 20px;
}

.width-30 {
  width: 30px;
}

.width-40 {
  width: 40px;
}

.width-50 {
  width: 50px;
}

.width-60 {
  width: 60px;
}

.width-90 {
  width: 90px;
}
.width-82 {
  width: 82px;
}
.width-100px {
  width: 100px;
}
.width-120 {
  width: 120px;
}

.width-130 {
  width: 130px;
}

.width-140 {
  width: 140px;
}

.width-150 {
  width: 150px;
}

.width-165 {
  width: 165px;
}

.width-180 {
  width: 180px !important;
}

.width-190 {
  width: 190px;
}

.width-200 {
  width: 200px;
}

.width-300 {
  width: 300px;
}

.width-95-p {
  width: 95%;
}

.h-150 {
  height: 150px;
}

.h-240 {
  height: 240px;
}

.h-420 {
  height: 420px;
}

.text-left {
  text-align: left;
}

.text-center {
  text-align: center;
}

//$i:0;
//@while $i<=400 {
//  .width-#{$i} {
//    width:#{$i}px;
//  }
//  $i:$i+5;
//}


.marginR2 {
  margin-right: 2px;
}

.marginL2 {
  margin-left: 2px;
}

.marginL7 {
  margin-left: 7px;
}

.marginL17 {
  margin-left: 17px;
}

.marginT1 {
  margin-top: 1px;
}

.marginB0 {
  margin-bottom: 0 !important;
}

.marginT3 {
  margin-top: 3px;
}

.m-t-2 {
  margin-top: 2px;
}

.m-t-3 {
  margin-top: 3px;
}


.m-b-3 {
  margin-bottom: 3px;
}

.m-b-6 {
  margin-bottom: 6px;
}

.m-t-6 {
  margin-top: 6px;
}

.p-b-16 {
  padding-bottom: 16px;
}
.p-l-5 {
  padding-left: 5px;
}

.w-200 {
  width: 200px;
}

.opacity-0 {
  opacity: 0 !important;
}

.datepicker-130 {
  width: 130px !important;
  .mat-form-field {
    padding-left: 0 !important;
  }
}

.datepicker-200 {
  width: 200px !important;
  .mat-form-field {
    padding-left: 0 !important;
  }
}

.datepicker-full-width {
  width: 100% !important;
  .mat-form-field {
    padding-left: 0 !important;
  }
}

.datepicker-120 {
  width: 120px !important;
  .mat-form-field {
    padding-left: 0 !important;
  }
}

.datepicker-110 {
  width: 110px !important;
  .mat-form-field {
    padding-left: 0 !important;
  }
}

.status-label {
  font-size: $font-size-xs;
  font-weight: 600;
  padding: 0px 4px 0px;
  display: inline-block;
  @include border-radius(2px);
  color: $st-default;
  line-height: 16px;
  background-color: $default-status;
  max-width: max-content;
  &.new,
  &.draft {
    color: $st-new;
    background-color: $new-status;
  }
  &.pending,
  &.nonDefined,
  &.in-process {
    color: $st-progress;
    background-color: $progress-status;
  }
  &.light-warning {
    color: $st-rejected;
    background-color: $light-warning-status;
  }
  &.active,
  &.approved  {
    color: $success-color;
    background-color: $approved-status;
  }

  &.warning,
  &.expired,
  &.archived,
  &.rejected {
    color: $st-rejected-color;
    background-color: $rejected-status;
  }
  &.discarded,
  &.skipped {
    color: $st-discarded;
    background-color: $discarded-status;
  }
  &.upcoming {
    color: $cyan;
    background-color: $upcoming-status;
  }
  &.posted {
    color: $st-posted;
    background-color: $posted-status;
  }

  i {
    margin: -1px 1px 0 0;
    font-size: 10px !important;
    display: inline-block;
    vertical-align: middle;
    line-height: 18px;
  }
}

.quick-filter-label {
  color: $button-text;
  font-weight: 600;
  line-height: 16px;
}

.quick-filter-item {
  @include align-items(center);
  @include border-radius(3px);
  line-height: 16px;
  font-size: 13px;
  text-align: center;
  .btn-group-item {
    padding: 5px 10px !important;
    font-size: 13px !important;
    min-width: 48px;
    &.arrow {
      min-width: unset;
      width: 28px;
      padding: 5px 0 !important;
      display: inline-block;
    }
  }
  &.active-tab {
    border: 1px solid rgba(59, 184, 228, 0.1);
    background: #EBF8FC;
    .btn-group-item {
      border-right: 1px solid rgba(59, 184, 228, 0.1);
      color: $cyan;
      cursor: default;
      font-weight: 600;
      &:hover {
        background-color: unset;
      }
      &.arrow {
        cursor: pointer;
      }
    }
  }
  &.new-btn-group {
    @include border-radius(3px);
  }
}

.comment-label {
  font-size: 11px;
  font-weight: normal;
  color: $st-default;
}

.note-info-orange {
  @include flexbox;
  @include align-items(center);
  color: $placeholder;
  margin-left: 10px;
  font-size: 12px;
  i {
    color: $light-orange;
    margin-right: 5px;
  }
}

.word-break {
  @include break-word();
}

.word-break-all {
  @include break-all();
}

.line-height-16 {
  line-height: 16px;
}

.line-height-26 {
  line-height: 26px;
}

.end-employment {
  i {
    color: $danger-color;
    font-size: 9px;
    &:before {
      font-size: 9px !important;
    }
  }
}

.rotate-180 {
  @include transform(rotateY(180deg));
  display: inline-block;
}

div.line {
  height: 1px;
  background: $bg-color;
}

.disabled {
  color: $secondary-text;
  @include pointer-none();
}

input.disabled {
  cursor: default;
  @include pointer-none();
}

.max-width-60-percent {
  max-width: 60%;
}

.max-width-70-percent {
  max-width: 70%;
}

.max-width-80-percent {
  max-width: 80%;
}

.max-width-100-percent {
  max-width: 100%;
}

.max-width-100 {
  max-width: 100px;
}

.max-width-150 {
  max-width: 150px;
}

.max-width-200 {
  max-width: 200px;
}

.note-info {
  color: $secondary-text;
}

.no-data {
  color: $secondary-text;
}

.events-none {
  @include opacity(0);
  pointer-events: none;
}

.red-color {
  color: $danger-color;
}

.green-color {
  color: $success-color;
}

.overflow-visible {
  overflow: visible;
}

.display-inline {
  display: inline;
}

.display-inline-block {
  display: inline-block !important;
}

.float-left {
  float: left;
}

.font-size-10 {
  font-size: 10px;
}

.font-size-11 {
  font-size: 11px;
}

.font-size-12 {
  font-size: 12px;
}

.font-size-13 {
  font-size: 13px;
}

.font-size-14 {
  font-size: 14px;
}

.font-size-15 {
  font-size: 15px;
}

.font-size-16 {
  font-size: 16px;
}

.font-size-18 {
  font-size: 18px;
}

.spacer {
  color: $primary-text;
  font-weight: 700;
  display: inline-block;
}

.small-light-gray {
  font-size: 12px;
  color: $placeholder;
}

.cursor-default {
  cursor: default !important;
}

.cursor-pointer {
  cursor: pointer;
}

.max-height-26 {
  max-height: 26px;
}

.semibold {
  font-weight: 600;
}

.bold {
  font-weight: 700;
}

.border {
  border: 1px solid $border-color;
}

.grey-row {
  background-color: $disabled-color;
}

.icon-table {
  &.size-18 {
    width: 18px;
    font-size: 18px;
    margin-top: 3px;
    display: inline-block;
  }
}

.flex-1 {
  @include flex-value(1);
  min-width: 0;
}
.flex-140 {
  @include flex-value(0 0 140px);
}

.flex-180 {
  @include flex-value(0 0 180px);
}

.parent-item-row {
  .border-checkbox-group {
    .border-checkbox-label.mixed-select {
      &:after {
        content: "";
        width: 8px !important;
        height: 2px !important;
        background-color: $success-color;
        position: absolute;
        top: 7px !important;
        left: 4px !important;
        @include transform(none);
      }
    }

    .border-checkbox {
      &:checked + .border-checkbox-label {
        &:after {
          content: "";
          left: 3px !important;
          top: 10px !important;
          width: 4px !important;
          height: 10px !important;
          background: transparent;
          @include transform(scaleX(-1) rotate(135deg));
          @include transform-origin(left top);
        }
      }
    }
  }

  .border-checkbox-section {
    &.new-element {
      .border-checkbox-group {
        .border-checkbox-label {
          margin-right: 0;
          padding-left: 16px;
          height: 16px;
        }
      }
    }
  }
}

.rating-sm {
  .br-fontawesome-o .br-unit {
    font-size: 9px;
  }
  &.margin-0 {
    .br {
      margin: 0;
    }
  }
}


.p-5{
  padding: 5px;
}
