@media only screen and (max-width: 1199px) {
  .pagination {
    float: inherit;
    text-align: center;
    display: inline-block;
    margin-top: 10px !important;

    li {
      float: left;
      margin-bottom: 10px;
    }
  }

  .nav-tabs.md-tabs.tab-timeline li a {
    font-size: 14px;
  }
}

@media only screen and (max-width: 992px) {
  .card-block [class*="col-"]:nth-last-child(-n+3) .card.user-card {
    margin-bottom: 0;
  }

  .header-navbar {
    position: fixed !important;
    z-index: 1209;

    &[pcoded-header-position="relative"] {
      position: fixed !important;
      top: 0;
    }

    .navbar-wrapper {
      .navbar-container {
        margin-left: 0;
      }

      .navbar-logo {
        //width: 100% !important;

        a img {
          display: block !important;
        }

        .mobile-menu {
          right: auto;
          left: 0;
          top: 0;
          width: 60px;
        }

        .mobile-search {
          display: block;
          position: absolute;
          left: 70px;
          top: 0;
        }

        .mobile-options {
          display: block;
          position: absolute;
          right: 0;
          top: 0;
          font-size: 16px;
          line-height: 3.5;
          width: 60px;
        }
      }
    }

    .navbar-container {
      .nav-left {
        display: none;
      }
    }
  }

  .nav-tabs.md-tabs.tab-timeline li a {
    font-size: 16px;
  }
}

@media only screen and (min-width: 992px) {
  .card-block [class*="col-"]:nth-last-child(-n+3) .card.user-card {
    margin-bottom: 0;
  }
}

@media only screen and (max-width: 991px) {
  .main-body .page-wrapper .align-items-end {
    .page-header-title {
      text-align: center;
      display: block;

      i {
        float: none;
        margin-bottom: 10px;
        margin-right: 0;
      }
    }

    body .pcoded[vertical-placement="right"] .main-body {
      direction: ltr;
    }

    .page-header-breadcrumb {
      width: 100%;
      text-align: center;
      margin-top: 10px;
      display: block;
    }
  }

  .page-header-breadcrumb .breadcrumb-item {
    display: inline-block;
    float: none;
  }

  .messages-content {
    border-right: none;
  }
}

@media only screen and (min-width: 801px) and (max-width: 915px) {
  .grid figure {
    min-width: auto;
  }
}

@media only screen and (min-width: 768px) {
  #draggableWithoutImg [class*="col-"]:last-child .m-t-20 {
    margin-top: 0;
  }
}

@media only screen and (min-width: 768px) and (max-width: 872px) {
  .author-details .header-right li {
    margin-right: 40px;
  }

  .recent-candidate-card .recent-contain {
    margin-left: 0;
  }

  .author-details img ~ .dot1,
  .author-details img ~ .dot2 {
    top: 30%;
  }
}

@media only screen and (max-width: 768px) {
  .card-block.list-tag ul li:last-child {
    margin-bottom: 20px;
  }

  .inline-order-list {
    margin-top: 0;
  }

  h4 {
    font-size: 1rem;
    font-weight: 600;
  }

  .recent-candidate-card .recent-contain {
    margin-left: 0;
  }

  .card h5 {
    font-size: 16px;
  }

  .header-navbar .navbar-wrapper .navbar-logo {
    display: inherit;

    a {
      display: inline-block;
    }
  }

  body.header-fixed .main-body .page-wrapper {
    padding-bottom: 0;
    padding-top: 15px;
  }

  .card-header-right i:nth-child(n+2) {
    display: none;
  }

  .dataTables_paginate .pagination {
    float: inherit;
    text-align: center;
    display: inline-block;
    margin-top: 10px !important;
  }

  div.dataTables_wrapper div.dataTables_info {
    display: inherit;
  }

  .wizard > .steps > ul > li {
    float: inherit;
    width: 100%;
  }

  .gallery-page {
    .grid {
      padding: 0;
    }
  }

  figure.effect-steve h2 {
    margin-top: 0;
  }

  .cover-profile .profile-bg-img {
    margin-bottom: 0;
  }

  .card-block.user-info {
    position: inherit;
    text-align: center;
    background-color: $default-color;
    margin-bottom: 20px;
  }

  .user-info .media-body,
  .user-info .media-left {
    display: block;
  }

  .cover-btn {
    position: inherit;
    float: none;

    .btn {
      &:first-child {
        margin-right: 10px;
      }
    }
  }

  .user-info .user-title {
    position: initial;
    margin-bottom: 10px;
    margin-top: 10px;
  }

  .nav-tabs.md-tabs.tab-timeline li a {
    font-size: 14px;
  }

  .user-content {
    h4 {
      font-size: 1rem;
    }

    h5 {
      margin-right: 0;
      font-size: 14px;
    }
  }

  .top-cap-text p {
    padding: 0;

    &:last-child {
      margin-bottom: 0;
    }
  }

  .user-card {
    .btn {
      span {
        font-size: 13px;
      }
    }
  }

  .toolbar-page [class*="col-"] {
    margin-bottom: 30px;

    &:last-child {
      margin-bottom: 0;
    }
  }

  .offline-404 {
    h1 {
      font-size: 80px;
    }

    h2 {
      font-size: 25px;
    }
  }

  .invoice-contact {
    margin-top: 20px;
    margin-bottom: 0;
  }

  .lng-dropdown {
    display: none;
  }

  .group-widget .card-block-big {
    height: 110px;
  }

  .whether-card .card-footer {
    text-align: center;
  }

  .client-blocks ul li {
    font-size: 30px;
  }

  .widget-profile-card-1 ~ .card-footer [class*=col-] {
    border: none;
    margin: 0 auto;
  }

  .large-widget-card i {
    top: 15px;
  }

  .blur-user-card .blur-footer [class*="col-"] {
    margin: 0 auto;
    border: none;
  }

  .switchery {
    margin-bottom: 20px;
  }

  .switchery-large,
  .switchery-large ~ .switchery-default,
  .switchery-small {
    margin-bottom: 0;
  }

  .js-dynamic-disable,
  .js-dynamic-enable {
    display: block;
    width: 100%;
  }

  .js-dynamic-disable {
    margin-bottom: 20px;
  }

  .border-checkbox-section .border-checkbox-group,
  .checkbox-color,
  .radio-inline {
    display: block;
  }

  .checkbox-fade {
    display: inline-block;
  }

  body {
    &.horizontal-icon,
    &.horizontal-icon-fixed {
      .page-header {
        margin-top: 0;
      }

      .pcoded .pcoded-navbar .pcoded-item > li > a > .pcoded-micon {
        display: inline-block !important;
        margin-right: 20px !important;
      }
    }
  }
}

@media only screen and (max-width: 767px) {
  .signup-card {
    position: inherit;
  }

  .cal-event {
    .inverse-card p:after {
      width: 100%;
    }
  }
  .recent-candidate-card .recent-contain {
    margin-left: 10px;
  }

  .author-details .header-right {
    text-align: left;
    margin-top: 20px;
  }

  .post-new-contain textarea:focus {
    border: none;
  }

  .wizard.vertical > .content,
  .wizard.vertical > .steps {
    width: 100%;
  }

  .wizard {
    overflow: visible;
  }
}

@media only screen and (max-width: 640px) {
  .dt-button {
    margin-bottom: 5px;
  }
}

@media only screen and (max-width: 991px) {
  .main-body .page-wrapper .align-items-end {
    .page-header-title {
      text-align: center;
      display: block;

      i {
        float: none;
        margin-bottom: 10px;
      }
    }

    body .pcoded[vertical-placement="right"] .main-body {
      direction: ltr;
    }

    .page-header-breadcrumb {
      width: 100%;
      text-align: center;
      margin-top: 10px;
      display: block;
    }
  }

  .page-header-breadcrumb .breadcrumb-item {
    display: inline-block;
    float: none;
  }

  .messages-content {
    border-right: none;
  }
}

//@media only screen and (max-width: 993px) {
//    .navbar,
//    .navbar .navbar-logo {
//        width: 100% !important;
//    }
//
//}
@media only screen and (max-width: 573px) {
  .author-details .header-right li {
    margin-right: 20px;
    display: block;
    margin-top: 20px;
  }

  .md-tabs {
    .nav-item {
      width: calc(100% / 1);
      position: relative;
    }
  }

  .toolbar-page [class*="col-"] {
    .sub-title {
      text-align: center;
    }
  }

  .nav-tabs.tabs {
    display: inherit;
  }

  .nav-tabs .nav-item.show .nav-link,
  .nav-tabs .nav-link.active {
    border: none;
  }

  .nav-tabs .nav-link {
    text-align: center;
  }

  .search-content {
    display: block;
    text-align: center;

    img {
      margin-top: 20px;
    }
  }

  .seacrh-header {
    margin-top: 0;
  }

  .payment-tabs .md-tabs .nav-item,
  .payment-tabs .md-tabs .nav-item .nav-item,
  .payment-tabs .md-tabs .nav-item + .nav-item {
    width: calc(100% / 1) !important;
  }

  .modal-mob-btn [class*="col-"] {
    &:first-child {
      margin-bottom: 20px;
    }
  }

  .location-mob-btn .btn {
    margin-bottom: 10px;
    margin-right: 0;
  }

  .invoice-btn-group {
    .m-r-20 {
      margin-right: 0;
    }
  }

  .table-card .row-table {
    display: block;
    text-align: center;

    i {
      font-size: 28px;
      margin-bottom: 10px;
      display: inline-block;
    }
  }

  .table-card .row-table .br {
    border: none;
    border-bottom: 1px solid #ccc;
  }

  .table-card .row-table > [class*=col-] {
    display: block;
  }

  .card-block-big {
    padding: 1em;

    #barchart,
    #barchart2 {
      display: inline-block;
      margin-bottom: 10px;
    }
  }

  .widget-primary-card [class*="col-"] {
    padding: 1em;

    h6 {
      margin-bottom: 0;
    }
  }

  .events-content h2 {
    font-size: 20px;
  }

  .social-widget-card i {
    top: 25px;
    font-size: 38px;
  }

  .mobile-inputs [class*="col-"] {
    &:first-child {
      margin-bottom: 20px;
    }
  }

  .pagination-lg .page-link {
    padding: 0.75rem 0.65rem;
  }

  .mobtn {
    padding: 10px;
  }

  .task-sale-card {
    text-align: center;
  }
}

@media only screen and (max-width: 460px) {

  .bd-example-modal .modal-footer {
    justify-content: center;

    button {
      margin-right: 0;
    }
  }

  .invoice-total tbody {
    float: none;
  }

  .timeline-right .card {
    margin-left: 20px;
  }

  figure.effect-moses h2 {
    width: 60%;
    height: 70%;
    padding: 10px;
    font-size: 25px;
  }

  figure.effect-moses p {
    padding: 5px;
  }
}

@media only screen and (max-width: 480px) {
  .j-pro .j-checkbox-toggle {
    padding-bottom: 30px;
  }

  .main-body .page-wrapper {
    padding: 10px;
  }

  .blog-big-user {
    text-align: center;

    img {
      margin-bottom: 20px;
    }
  }

  .blog-s-reply .media .media-left {
    padding-right: 10px;
  }

  .j-forms .divider-text span {
    white-space: pre-line;
    display: block;
    line-height: 1.8;
  }

  .j-forms .divider-text {
    height: auto;
    margin-top: 30px;
    margin-bottom: 10px;
  }

  .j-forms .content {
    padding: 0 10px;
  }

  .comment-block {
    .media-left {
      padding-right: 10px;
    }
  }

  .breadcrumb-page {
    .card {
      text-align: center;
    }
  }

  div.dataTables_wrapper div.dataTables_filter input {
    width: 150px;
  }

  .grid figure {
    min-width: auto;
  }

  .product-detail .txt-muted.d-inline-block {
    margin-top: 10px;

    ~ .f-right {
      float: none;
      display: block;
      margin-top: 10px;
    }
  }

  .mob-product-btn {
    text-align: center;

    .btn-primary {
      margin-right: 0;
      display: block;
      margin: 10px auto;
    }
  }
}

@media only screen and (max-width: 420px) {
  .g-recaptcha {
    transform: scale(0.77);
    -webkit-transform: scale(0.77);
    transform-origin: 0 0;
    -webkit-transform-origin: 0 0;
  }
}

@media only screen and (max-width: 576px) {
  .header-navbar .navbar-wrapper .navbar-container .header-notification .show-notification {
    min-width: 280px;
    left: 0;
    right: auto;
    width: auto;
  }

  .header-navbar .navbar-wrapper .navbar-container .header-notification .profile-notification {
    left: auto;
    right: 0;
  }

  .nav-tabs .nav-link.active {
    margin-bottom: 0;
  }

  .md-tabs .nav-item a {
    /* box-shadow: 0 0 0 1px #d2cece; */
    margin-bottom: 5px;
  }
}
