@import "~src/assets/general-styles/variables";

.facebook {
  cursor: pointer !important;
  height: 35px !important;
  border-radius: 5px !important;
  background: none !important;
  border: 1px solid $font-color !important;
  color: $font-color !important;
  transition: 0.2s !important;

  &:hover {
    border: 1px solid white !important;
    background-color: #09459a !important;
    color: white !important;

    i {
      color: white !important;
    }
  }

  .sign-in {
    font-size: 13px !important;
    line-height: 35px !important;
    margin-left: 20px !important;
  }

  .fa-facebook-f {
    color: #09459a;
    font-size: 25px !important;
    transform: translateY(4px) !important;
    margin-right: 5px !important;
  }
}

.google {
  margin-top: 10px !important;
  cursor: pointer !important;
  height: 35px !important;
  color: $font-color !important;
  border-radius: 5px !important;
  background: none !important;
  border: 1px solid $font-color !important;
  transition: 0.2s !important;

  &:hover {
    color: white !important;
    border: 1px solid white !important;
    background-color: #932a18 !important;

    i {
      color: white !important;
    }
  }

  .sign-in {
    font-size: 13px !important;
    line-height: 35px !important;
    margin-left: 20px !important;
  }

  .fa-google {
    color: #932a18;
    font-size: 25px !important;
    transform: translate3d(-5px, 2px, 0px) !important;
    margin-right: 5px !important;
  }
}

.at-event {
  margin-top: 10px !important;
  cursor: pointer !important;
  height: 35px !important;
  color: $font-color !important;
  border-radius: 5px !important;
  background: none !important;
  border: 1px solid $font-color !important;
  transition: 0.2s !important;

  &:hover {
    border: 1px solid white !important;
    color: white !important;
    background-color: $ae-color !important;
  }

  .sign-in {
    font-size: 13px !important;
    line-height: 35px !important;
    margin-left: 20px !important;
  }

  .img-wrapper {
    display: inline-block;
    height: 25px;
    width: 25px;
    transform: translate3d(-2px, -3px, 0px) !important;
    margin-right: 5px !important;
  }
}
