<span class="sing-in m-b-10"> Sign-in to Your Account</span>
<form [formGroup]="form">
  <div class="form-group">
    <input type="email"
           class="form-control"
           formControlName="email"
           [ngClass]="{'invalid': form.get('email').errors && (form.get('email').touched || submitted)}"
           placeholder="Email">
    <div class="form-messages">
      <div class="errors" *ngIf="form.get('email').errors && (form.get('email').touched || submitted)">
        <span *ngIf="form.get('email').errors.required">Required Field</span>
        <span *ngIf="form.get('email').errors.email">Invalid Email</span>
      </div>
    </div>
  </div>
  <div class="form-group">
    <input type="password"
           formControlName="password"
           [ngClass]="{'invalid': form.get('password').errors && (form.get('password').touched || submitted)}"
           class="form-control"
           placeholder="Password">
    <div class="form-messages">
      <div class="errors" *ngIf="form.get('password').errors && (form.get('password').touched || submitted)">
        <span *ngIf="form.get('password').errors.required">Required Field</span>
      </div>
    </div>
  </div>
  <div class="form-group d-flex justify-content-xl-between">
    <div class="d-flex">
      <span class="forget">Forget Password?</span>
    </div>
    <div class="d-flex">
      <button type="submit" class="my-btn" (click)="signInSubmit()" >Sign In</button>
    </div>
  </div>
</form>
<hr>
<div class="connect-with m-t-20">
  <div class="facebook w-65 m-l-r-auto d-flex justify-content-center">
    <div>
      <i class="icon fa fa-facebook-f"></i>
      <span class="sign-in">Sign in with Facebook</span>
    </div>
  </div>
  <div class="google w-65 m-l-r-auto d-flex justify-content-center">
    <div>
      <i class="icon fa fa-google"></i>
      <span class="sign-in">Sign in with Google</span>
    </div>
  </div>
</div>
  <hr class="m-b-5">
<div class="form-group d-flex justify-content-center">
  <div class="d-flex">
    <span class="sign-up-title">Don't have an account?</span>
  </div>
  <div class="d-flex">
    <button class="my-btn" routerLink="/sign-up">Sign Up</button>
  </div>
</div>


