<div>
  <ul class="nav nav-tabs second-level">
    <li class="nav-item">
      <a class="nav-link" routerLinkActive="active" [routerLink]="['all']">
        <span>{{'EVENT_STATUSES.All' | translate}}</span>
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLinkActive="active" [routerLink]="['upcoming']">
        <span>{{'EVENT_STATUSES.Upcoming' | translate}}</span>
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLinkActive="active" [routerLink]="['active']">
        <span>{{'EVENT_STATUSES.Active' | translate}}</span>
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLinkActive="active" [routerLink]="['past']">
        <span>{{'EVENT_STATUSES.Past' | translate}}</span>
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLinkActive="active" [routerLink]="['canceled']">
        <span>{{'EVENT_STATUSES.Canceled' | translate}}</span>
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLinkActive="active" [routerLink]="['closed']">
        <span>{{'EVENT_STATUSES.Closed' | translate}}</span>
      </a>
    </li>
  </ul>

  <div class="tab-content">
    <router-outlet></router-outlet>
  </div>
</div>
