@import "ngx-scss/table";
button {
  &:focus,
  &:active {
    outline: 0;
  }
}

.btn-transparent-primary {
  &:focus {
    color: #fff;
  }

}

.header-navbar .navbar-wrapper {
  .navbar-container .header-notification {
    .show-notification {
      display: block;
    }
    .profile-notification {
      display: block;
      li {
        border-top: none;
      }
    }
    .show-notification li {
      border-top: none;
    }
  }
}

.header-notification.ripple.active {
  overflow: visible;
}

.showChat,
.showChat_inner {
  display: block;
  height: 100vh;
  overflow: hidden;
}

.users-main {
  height: 100vh;
  width: 100%;
  position: absolute;
}

@media only screen and (max-width: 992px) {
  .header-navbar .navbar-wrapper .navbar-container .nav-right {
    display: block;
    // overflow: hidden;
  }

  .showChat, .showChat_inner {
    top: 112px;
  }
  .header-navbar .navbar-wrapper .navbar-container .nav-right {
    &.nav-on {
      overflow: visible;
    }

    &.nav-on.nav-off {
      overflow: hidden;
    }
  }

  .chat-reply-box {
    bottom: 106px;
  }
}

.pcoded {
  .ps__rail-y:focus > .ps__thumb-y, .ps__rail-y:hover > .ps__thumb-y, .ps__thumb-y {
    width: 3px;
    background-color: #000;
    opacity: 0.4;
  }

  perfect-scrollbar > .ps.ps--active-y > .ps__rail-y, perfect-scrollbar > .ps.ps--active-y > .ps__rail-y:hover {
    width: 0;
  }

  perfect-scrollbar {
    max-height: 100%;

    > .ps {
      height: 100%;
    }
  }

  #styleSelector {
    z-index: 101;

    .ps__rail-y:focus > .ps__thumb-y, .ps__rail-y:hover > .ps__thumb-y, .ps__thumb-y {
      width: 6px;
    }

    .theme-color a {
      margin: 5px 4px 5px 0;
    }
  }
}

// tab below bootstrap
.below-tabs {
  -webkit-transform: rotate(180deg);
  transform: rotate(180deg);

  .nav-tabs, .tab-content {
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
  }

  .nav-tabs {
    .nav-link {
      border: 1px solid transparent;
      border-bottom-right-radius: .25rem;
      border-bottom-left-radius: .25rem;
    }

    border-top: 1px solid #ddd;
    border-bottom: transparent;

    .nav-item.show .nav-link, .nav-link.active {
      color: #464a4c;
      background-color: #fff;
      border-color: #fff #ddd #ddd;
      margin-top: -1px;
    }
  }
}

/* tab material start */

.md-tabs {
  &.md-card-tabs {
    .nav.nav-tabs {
      background: #fff;
      border-radius: 5px;
      box-shadow: 0 1px 2.94px 0.06px rgba(4, 26, 55, 0.16);
      border: none;
      margin-bottom: 30px;
      transition: all 0.3s ease-in-out;
    }
  }

  .nav-link {
    &.active {
      border-bottom: 4px solid $color-blue;
      border-bottom: 4px solid $color-blue;

      &:focus, &:hover {
        border-bottom: 4px solid $color-blue;
      }
    }

    &:hover,
    &:focus {
      border-bottom: 4px solid #ddd;
    }

    transition: all 0.4s ease-in-out;
    border-bottom: 4px solid transparent;
  }

  &.md-below-tabs {
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);

    .nav-tabs, .tab-content {
      -webkit-transform: rotate(180deg);
      transform: rotate(180deg);
    }

    .nav-tabs, .nav-item:first-child {
      border-top: 1px solid #ddd;
      border-bottom: 0px solid transparent;
      margin-top: -1px;
    }

    .nav-link {
      &.active {
        border-top: 4px solid $color-blue;
        border-top: 4px solid $color-blue;
        border-bottom: 0px solid transparent;

        &:focus, &:hover {
          border-top: 4px solid $color-blue;
          border-bottom: 0px solid transparent;
        }
      }

      transition: all 0.4s ease-in-out;
      border-top: 0px solid transparent;
    }

    .nav-tabs .nav-link {
      &:hover {
        border-top: 4px solid #ddd;
        border-bottom: 0px solid transparent;
      }

      &.active:hover {
        border-top: 4px solid $color-blue;
      }
    }
  }

  &.md-left-tabs {
    .nav-item {
      width: 100%;

      &:first-child {
        border-bottom: 0px;
      }

      .nav-link {
        border: 0px solid transparent;
        padding: 10px 0 !important;
        margin: 10px 0;
      }
    }

    .nav-link.active {
      border-left: 4px solid $color-blue;
      border-bottom: 0px solid transparent;

      &:focus, &:hover {
        border-left: 4px solid $color-blue;
        border-bottom: 0px solid transparent;
      }
    }

    .nav-item .nav-link.active {
      border: 0px solid transparent;
      border-left: 4px solid $color-blue;
    }

    .nav-tabs {

      .nav-link {
        text-align: left;
        font-weight: bold;
        padding-left: 10px !important;

        &.active:hover {
          border-left: 4px solid $color-blue;
        }

        &:hover {
          border: 0px solid transparent;
          border-left: 4px solid #ddd;
        }
      }

      border-bottom: 0px solid transparent;
      display: table-cell;
      min-width: 150px;
      vertical-align: top;
      width: 150px;
    }

    .tab-content {
      display: table-cell;
      top: 0;
      position: absolute;
      left: 150px;
    }
  }

  &.md-right-tabs {
    .nav-item {
      width: 100%;

      &:first-child {
        border-bottom: 0px;
      }

      .nav-link {
        border: 0px solid transparent;
        padding: 10px 0 !important;
        margin: 10px 0;
      }
    }

    .nav-link.active {
      border-right: 4px solid $color-blue;
      border-bottom: 0px solid transparent;

      &:focus, &:hover {
        border-right: 4px solid $color-blue;
        border-bottom: 0px solid transparent;
      }
    }

    .nav-item .nav-link.active {
      border: 0px solid transparent;
      border-right: 4px solid $color-blue;
    }

    .nav-tabs {
      .nav-link {
        &.active:hover {
          border-right: 4px solid $color-blue;
        }

        &:hover {
          border: 0px solid transparent;
          border-right: 4px solid #ddd;
        }
      }

      border-bottom: 0px solid transparent;
      display: table-cell;
      min-width: 120px;
      vertical-align: top;
      width: 150px;
      float: right;
    }

    .tab-content {
      display: table-cell;
      top: 0;
      position: absolute;
      right: 150px;
    }
  }

  &.md-image-tab {
    .nav-link {
      position: relative;
    }

    .nav-item, .nav-link, .nav-tabs {
      border: 0px solid transparent !important;
    }

    img {
      width: 100px;
      border: 4px solid $color-blue;

      + .quote {
        position: absolute;
        height: 25px;
        width: 25px;
        border-radius: 100%;
        bottom: 10px;
        right: 70px;
      }
    }

    .quote i {
      border-radius: 50%;
      padding: 3px 5px;
    }

    .nav-link {
      opacity: 0.5;

      &.active {
        opacity: 1;
      }
    }
  }
}

@media only screen and (max-width: 768px) {
  .md-tabs.md-left-tabs {
    .nav-tabs {
      width: 100%;
      display: block;
    }

    .tab-content {
      display: block;
      position: relative;
      left: 0;
    }
  }
}

@media only screen and (max-width: 768px) {
  .md-tabs.md-right-tabs {
    .nav-tabs {
      width: 100%;
      display: block;
    }

    .tab-content {
      display: block;
      position: relative;
      left: 0;
    }
  }
}

/* advance notify */
.small-icon .icon {
  width: auto !important;
  height: auto !important;
}

.no-icon .icon {
  display: none;
}

.simple-notification-wrapper {
  z-index: 10001 !important;
  width: 200px !important;
  max-width: 200px;
}

.simple-notification {
  background: white !important;
  color: $primary-text !important;
  min-height: 52px !important;
  padding: 10px;
  @include box-shadow(0 0 10px rgba(0, 0, 0, 0.15));
  &.success {
    border-left: 4px solid $success-color;
    .icon {
      color: $success-color;
    }
  }
  &.warn {
    border-left: 4px solid $light-orange;
    .icon {
      color: $light-orange;
    }
  }
  &.error {
    border-left: 4px solid $danger-color;
    .icon {
      color: $danger-color;
    }
  }
  &.info {
    border-left: 4px solid $primary-color;
    .icon {
      color: $primary-color;
    }
  }
  .icon {
    width: 18px !important;
    height: 18px !important;
    top: 10px !important;
    right: unset;
    left: 10px;
    padding: 0 !important;
    [class^="icon-"] {
      font-size: $font-size-large;
    }
  }
  .sn-content {
    font-size: 12px !important;
    line-height: 16px !important;
    padding: 0 0 0 15px !important;
  }
}

/* forms advance elements */
.tag-chips {
  .ng2-tag-input {
    border-bottom: 1px solid $color-blue !important;
    border: 1px solid $color-blue;
    line-height: 30px;
    border-radius: 2px;
    padding: 6px !important;

    tag {
      color: #fff !important;
      background: linear-gradient(45deg, #00bcd4, #08e3ff) !important;
      border-radius: 2px !important;

      &.tag--editing {
        color: #333 !important;
        background: #fff !important;
      }
    }

    &.bootstrap {
      @extend tag;
    }

    &.minimal {
      tag {
        border-radius: 15px !important;
      }
    }

    &.danger tag {
      background: linear-gradient(45deg, #FF5370, #ff869a) !important;
    }

    &.success tag {
      background: linear-gradient(45deg, #2ed8b6, #59e0c5) !important;
    }

    &.warning tag {
      background: linear-gradient(45deg, #FFB64D, #ffcb80) !important;
    }

    &.minimal-dark tag {
      border-radius: 15px !important;
      background: linear-gradient(45deg, #150909, #bbb8b8) !important;
    }

    &.minimal-danger tag {
      border-radius: 15px !important;
      background: linear-gradient(45deg, #FF5370, #ff869a) !important;
    }

    &.minimal-success tag {
      border-radius: 15px !important;
      background: linear-gradient(45deg, #2ed8b6, #59e0c5) !important;
    }

    &.minimal-warning tag {
      border-radius: 15px !important;
      background: linear-gradient(45deg, #FFB64D, #ffcb80) !important;
    }
  }

  .tag__text {
    line-height: 2;
    font-size: 11px;
    font-weight: 400;
  }

  delete-icon svg {
    height: 12px !important;
    line-height: 1;
    vertical-align: top !important;
    margin-top: 5px;

    path {
      fill: #fff !important;
    }
  }

  .ng2-tags-container tag {
    padding: 3px 6px !important;
    height: 27px !important;
  }

  delete-icon:hover {
    transform: none !important;
  }

  .ng2-tag-input__text-input {
    height: auto !important;
  }
}


/* form bootstrap date picker */
.custom-range {
  text-align: center;
  padding: 0.185rem 0.25rem;
  display: inline-block;
  height: 2rem;
  width: 2rem;

  &.focused {
    background-color: #e6e6e6;
  }

  &.range, &:hover {
    background-color: $color-blue;
    color: white;
  }
}

.faded {
  opacity: 0.5;
}

.custom-day {
  text-align: center;
  padding: 0.185rem 0.25rem;
  border-radius: 0.25rem;
  display: inline-block;
  width: 2rem;

  &:hover, &.focused {
    background-color: #e6e6e6;
  }
}

.weekend {
  background-color: #999;
  border-radius: 1rem;
  color: white;
}

.hidden {
  display: none;
}

@media (min-width: 576px) {
  .form-inline .form-group {
    display: block;
    flex: 240px;
  }
}

/* form validation */
.tooltip-error {
  position: absolute;
  right: 30px;
  top: 7px;
}

.ng-select {
  .ng-select-container {
    color: $gray-dark !important;

    .ng-value-container {
      color: $gray-dark;

      .ng-value {
        color: $gray-dark;
      }

    }

    .ng-placeholder {
      color: $gray-light !important;
      //width: 100%;
      text-overflow: ellipsis;
      overflow: hidden;
    }
  }

  &.ng-select-disabled {
    .ng-select-container {
      color: $secondary-text !important;

      .ng-value-container {
        color: $secondary-text;

        .ng-value {
          color: $secondary-text;
        }
      }
    }
  }
}

/* form select */
ng-select.ng-select,
razor-multiselect {
  padding-bottom: 0;
  width: 100%;
  min-height: 39px;
  &.form-control {
    height: unset;
  }
  @include flexbox();
  @include align-items(center);
  //padding: 0;
  //margin: 0;

  .ng-select-container {
    display: inline-flex;
    align-items: center;
    min-height: 1px;
    //margin-top: 8px;

    .ng-value-container {
      padding: 0;
      margin: 0;
      border: none;

      .ng-placeholder {
        margin: 0;
        transition: none;
        position: static;
      }

      .ng-input {
        top: 0;
      }
    }

    .ng-clear-wrapper {
      border: none !important;
      margin: 0;
      padding: 0;
      bottom: -1px !important;
    }

    .ng-arrow-wrapper {
      border: none !important;
      margin: 0;
      padding: 0;
      bottom: 3px !important;
    }

    &:after {
      display: none;
    }

    &.ng-has-value {
      margin: 0;

      .ng-value-container {
        .ng-placeholder {
          display: none;
        }
      }
    }
  }

  ng-dropdown-panel {
    z-index: 1001;
    height: auto !important;
    padding: 0 !important;

    &.ng-select-bottom {
      padding: 0 !important;
      background: #fff;
      height: auto !important;
      width: 100%;
      max-width: 100%;
      z-index: 1001;
      top: 100%;
    }

    &.ng-select-top {
      bottom: 100%;
      padding: 0;
      background: #fff;
      border-bottom: 0 !important;
    }

    .ng-dropdown-panel-items {
      .ng-option {
        .ng-option-label {
          margin: 0;
        }

        &.ng-option-selected {
          background-color: $primary-color;
          color: #fff;
        }
      }
    }
  }

  &.form-control {
    //height: 39px;
    display: flex;
    align-items: center;

    ng-dropdown-panel {

      &.ng-select-bottom {
        border: solid 1px #ccc;
        padding: 0 !important;
        background: #fff;
        height: auto !important;

        max-width: 100%;

      }

      .ng-dropdown-panel-items {
        .ng-option {
          .ng-option-label {
            margin: 0;
          }

          &.ng-option-selected {
            background-color: $primary-color;
            color: #fff;
          }
        }
      }
    }

    &.short-label {

      ng-dropdown-panel {

        &.ng-select-bottom {

        }
      }
    }

    &.no-label {

      ng-dropdown-panel {

        &.ng-select-bottom {
          width: 100%;
          left: 0;
          top: 100%;
        }
      }
    }

    &.ng-select-multiple {
      ng-dropdown-panel {

        &.ng-select-bottom {
          top: 100%;
        }
      }
    }
  }

  &.form-control-default {
    display: flex;
    align-items: center;
    padding: 0;
    width: 100px;
    border-bottom: 1px solid #ccc;

    .ng-select-container {
      margin: 0;
      padding: 0;
      height: 30px;
      display: flex;
      align-items: center;

      .ng-value-container {
        margin: 0;
        padding: 0;
        height: 30px;
        display: flex;
        align-items: center;

        .ng-placeholder {
          margin: 0;
          padding: 0;
          height: 30px;
          display: flex;
          align-items: center;
        }

        .ng-value {
          margin: 0;
          padding: 0;
          height: 30px;
          display: flex;
          align-items: center;

          .ng-value-label {
            margin: 0;
            padding: 0;
            height: 30px;
            display: flex;
            align-items: center;
          }

          .ng-value-icon {
            display: none;
          }
        }

        .ng-input {
          margin: 0;
          padding: 0;
          height: 30px;
          @include flexbox();
          @include align-items(center);
          padding-right: 12px;

          input {
            margin: 0;
            padding: 0;
            height: 30px;
            display: flex;
            align-items: center;
          }
        }
      }

      .ng-clear-wrapper {
        .ng-clear {
          margin: 0;
          padding: 0;
          height: 30px;
          display: flex;
          align-items: center;
        }
      }

      .ng-arrow-wrapper {
        position: static;
        margin: 0;
        padding: 0;
        height: 30px;
        display: flex;
        align-items: center;

        .ng-arrow {
          margin: 0;
          padding: 0;
        }
      }
    }

    ng-dropdown-panel {


    }

    &.ng-select-multiple {
      .ng-select-container {
        margin: 0;
        height: auto;
        min-height: 30px;

        .ng-value-container {
          height: auto;
          padding-top: 0;
          min-height: 30px;

          .ng-value {
            margin-right: 0.4375em;
            margin-bottom: 0.4375em;
            padding: 2px 5px;
            height: 25px;
            max-width: 120px;

            .ng-value-label {
              max-width: 100%;
              overflow: hidden;
              text-overflow: ellipsis;
              white-space: nowrap;
              display: block;
              position: relative;
              height: auto;
            }

            .ng-value-icon {
              height: 25px;
              display: flex;
              align-items: center;
              margin: 0 5px 0 0;

            }
          }
        }
      }

      ng-dropdown-panel {

        &.ng-select-bottom {
          top: 100%;
        }
      }
    }
  }

  &.ng-select-focused ~ .form-bar {
    &:before,
    &:after {
      width: 50%;
      background: #3bb8e4;
    }
  }

  &.ng-select-multiple .ng-select-container .ng-value-container .ng-value {
    background-color: rgba(59, 184, 228, .1);
    border-radius: 12px;
    padding: 2px 10px;
    @include flexbox();
    @include align-items(center);

    .ng-value-icon {
      color: $danger-color;
      position: relative;

      &:hover,
      &:focus {
        color: $danger-color;
      }
    }

    .ng-value-label {
      color: $primary-color;
      font-weight: bold;
      white-space: nowrap;
      max-width: 100%;
      text-overflow: ellipsis;
      overflow: hidden;
      display: inline-block;
      position: relative;
    }
  }
}

.ng-select select-dropdown .highlighted {
  background-color: $color-blue;
}

.famfamfam-flags {
  display: inline-block;
  margin-right: 6px;
  width: 16px;
}

.tag-select {
  .bootstrap tag {
    padding: 5px 10px !important;
    height: auto !important;
    z-index: 0;
    line-height: 25px !important;
    background: $color-blue !important;

    delete-icon {
      &:hover {
        transform: scale(1);
      }

      svg {
        height: 27px !important;
      }
    }
  }

  tag-input-form {
    padding: 0px 10px 0px 10px !important;
  }

  .ng2-tag-input {
    border-bottom: 1px solid #aaa !important;
    border: 1px solid #aaa;
    padding: 5px !important;
    border-radius: 4px;
  }
}

.filter-wrapper {
  .filter-title {
    font-weight: bold;
    margin-top: 10px;
    font-size: 14px;
  }
}

$icon-color-ang: #448aff, #b71c1c, #4CAF50, #d84315, #4527a0, #37474f, #7C4DFF, #FF5370;
.pcoded {
  &[nav-type="st1"] {
    .d-color {
      $i: 1;
      @for $k from 1 through 3 {
        @each $value in $icon-color-ang {
          > .pcoded-item {
            &:nth-child(#{$i + 1}) {
              > li > a > .pcoded-micon {
                color: $value;
              }
            }
          }
          $i: $i+1;
        }
      }
    }

  }

  .d-color {
    &:after {
      content: "";
      background-color: #e4e9eb;
      width: 80%;
      height: 1px;
      position: absolute;
      left: 10%;
      bottom: 10px;
    }

    padding: 20px 0;
    position: relative;

  }

  .pcoded-navbar .pcoded-item {
    padding-bottom: 0;

    &:after {
      display: none;
    }
  }

  &[nav-type="st1"],
  &[nav-type="st2"] {
    .pcoded-item.pcoded-left-item {
      > li {
        > a > .pcoded-micon {
          b {
            display: none;
          }
        }
      }
    }
  }
}

.breadcrumb-item {
  float: left;
}

.ngx-datatable.fixed-row .datatable-scroll {
  display: block !important;

  .datatable-body-row {
    height: auto !important;
    min-height: 66px;

    .datatable-body-cell {
      overflow: visible !important;
      height: auto !important;
      min-height: 66px;

      .link {
        display: inline-block;
        overflow: hidden;
        line-height: normal;
      }
    }
  }
}

//====================

.main-menu .main-menu-content .more-details {
  display: block;
}

//=============================== wawe efeff

.back_friendlist i {
  top: 30px;
}

.right-icon-control .form-icon .btn.btn-icon {
  width: 30px;
  height: 30px;
  line-height: 28px;
  font-size: 12px;
  padding: 0;
}

.users-main .media {
  padding-top: 10px;
  margin-bottom: 0;
}

.pcoded .pcoded-navbar .pcoded-item .pcoded-hasmenu[subitem-icon="style3"] .pcoded-submenu li {
  & > a .pcoded-mtext:before {
    content: "\e6e2";
    font-family: "themify";
  }
}

.pcoded .pcoded-navbar .pcoded-item .pcoded-hasmenu .pcoded-submenu li.active > a > .pcoded-mtext {
  font-weight: bold;
}

.pcoded[layout-type="dark"] {
  .md-tabs .nav-item a.active, .md-tabs .nav-item a:focus, .md-tabs .nav-item a:hover {
    border-color: $primary-color !important;
  }

  .ngb-accordion .card .card-header:hover a, .ngb-accordion .card .card-header:focus a {
    background-color: transparent !important;
  }

  .below-tabs .nav-tabs {
    border-top: none;
  }

  .md-tabs.md-below-tabs .nav-link.active {
    margin-top: -1px;
  }

  .page-item.active a {
    background-color: $primary-color;
  }

  .tag-chips .ng2-tag-input__text-input, .ng2-tag-input__text-input {
    background-color: transparent;
    color: $light-color-text;
  }

  .bg-light {
    background: transparent !important;
  }

  select-dropdown > div {
    z-index: 3;
    background-color: lighten($dark-layout-color, 10%);
  }

  select-dropdown .selected {
    background-color: lighten($dark-layout-color, 5%);
  }

  .table-styling .table-info, .table-styling.table-info {
    border: none;
  }

  .data-table datatable-footer {
    background-color: transparent;
  }

  .datatable-footer .datatable-pager a {
    color: $light-color-text;
  }

  .datatable-row-detail {
    background-color: transparent;
  }

  google-chart rect {
    fill: transparent;
  }

  .google-visualization-table-table {
    color: $dark-layout-color;
  }

  .md-tabs.md-card-tabs .nav.nav-tabs {
    background-color: lighten($dark-layout-color, 5%);
  }

  // new
  .chat-card .received-chat .msg {
    background-color: lighten($dark-layout-color, 10%);
  }

  .chat-card .send-chat .msg {
    background-color: lighten($dark-layout-color, 5%);
  }

  .chat-card .chat-saprator span {
    background: lighten($dark-layout-color, 5%);
    color: $light-color-text;
  }

  .header-navbar .navbar-wrapper .navbar-container .header-notification.active:before {
    border-left-color: $dark-layout-color;
    border-top-color: $dark-layout-color;
  }

  .chat-card .chat-control .chat-form .form-control {
    background-color: transparent;

    &:focus, &:active {
      box-shadow: none;
    }
  }

  color: $light-color-text;

  a {
    color: $light-color-text;
  }

  text {
    fill: $light-color-text;
  }

  .card {
    background-color: lighten($dark-layout-color, 5%);

    code {
      background-color: lighten($dark-layout-color, 10%);
    }

    .card-block {
      code {
        background-color: lighten($dark-layout-color, 10%);
      }
    }
  }

  /* by amit */
  .text-facebook {
    color: #fff;
  }

  .agm-info-window-content {
    color: #000;
  }

  .radial-bar-lg[_ngcontent-c13]:after, .radial-bar-lg[_ngcontent-c13] > img[_ngcontent-c13] {
    z-index: 99;
  }

  select option {
    color: $dark-layout-color;
  }
}

@media only screen and (max-width: 992px) {
  .header-navbar {
    top: 0;
  }
}

.custom-file-control {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  z-index: 5;
  height: calc(2.25rem + 2px);
  padding: 0.375rem 0.75rem;
  line-height: 1.5;
  color: #495057;
  pointer-events: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-color: #fff;
  border: 1px solid #ced4da;
  border-radius: 0.25rem;
}

.custom-file-control:lang(en)::before {
  content: "Browse";
}

.custom-file-control::before {
  position: absolute;
  top: -1px;
  right: -1px;
  bottom: -1px;
  z-index: 6;
  display: block;
  height: calc(2.25rem + 2px);
  padding: 0.375rem 0.75rem;
  line-height: 1.5;
  color: #495057;
  background-color: #e9ecef;
  border: 1px solid #ced4da;
  border-radius: 0 0.25rem 0.25rem 0;
}

.custom-file-control:lang(en):empty::after {
  content: "Choose file...";
}

.tooltip.show {
  opacity: 1 !important;
}

input:-webkit-autofill {
  -webkit-box-shadow: 0 0 0px 1000px white inset;
}

.form-row {
  align-items: center;
  @include align-items(center);
  position: relative;

  .form-bar {
    position: absolute;
    bottom: 0;
  }

  .float-label {
    position: static;
  }

  .form-control {
    padding: 0;
    @include flex-value(1);
  }
}

/*filter*/
.filter-wrapper {
  .filter-title {
    font-weight: bold;
    margin-top: 10px;
    font-size: 14px;
  }
}

.form-group {
  input:disabled, textarea:disabled {
    color: $gray-dark;
  }

  .ng-select.ng-select-disabled .ng-select-container .ng-value-container .ng-placeholder {
    color: $gray-dark;
  }

}

.add-edit-employee {
  .ng-select {
    .ng-dropdown-panel {
      &.ng-dropdown-panel {
        width: 100%;
        left: 0;
      }
    }
  }

  .material-group {
    razor-multiselect.form-control.ng-untouched.ng-dirty.ng-invalid {
      @include flexbox();
    }
  }
}

.ng-dropdown-panel {
  .ng-dropdown-panel-items {
    .ng-option {
      white-space: inherit !important;
      overflow: inherit !important;
      text-overflow: unset !important;

      span {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        display: block;
      }

      .tooltip * {
        -webkit-box-shadow: -2px 0px 20px -5px rgba(0, 0, 0, 0.58) !important;
        -moz-box-shadow: -2px 0px 20px -5px rgba(0, 0, 0, 0.58) !important;
        box-shadow: -2px 0px 20px -5px rgba(0, 0, 0, 0.58) !important;
      }

    }
  }
}

.custom-select-options {
  .ng-dropdown-panel {
    .ng-dropdown-panel-items {
      position: unset;

      .ng-option {
        position: unset;
        white-space: nowrap !important;
        overflow: hidden !important;
        text-overflow: ellipsis !important;

        span {
          display: inline-block;
          line-height: 100%;
          vertical-align: middle;
        }
      }
    }
  }
}
