@import "../../../assets/icon/icofont/css/icofont";
@import "../_mixins.scss";
/* data table */
ngx-datatable.data-table {
  //border: 1px solid #eceeef;
}

.data-table {
  datatable-header {
    position: sticky;
    top: 53px;
    z-index: 1000;
    background: white;
    border-bottom: 2px solid #f2f2f2;
  }
  datatable-footer {
    //border-top: 2px solid #ccc;
    padding: 0 0.75rem;
    //background-color: #eceeef;
    //box-shadow: inset 0 2px 4px -2px rgba(0, 0, 0, 0.15);
  }
  .empty-row {
    padding: 0.75rem;
    text-align: center;
  }
  .datatable-row-wrapper:nth-child(odd) {
    background: rgba(255, 255, 255, 1);
    //background-color: rgba(0, 0, 0, 0.05);
  }
  .datatable-row-wrapper:nth-child(even) {
    background-color: #f2f2f2;
  }
  datatable-body-cell {
    padding: 0.75rem;
    a {
      color: $primary-color;
      &:hover {
        text-decoration: underline;
      }
    }
    .btn-transparent-primary, .btn-transparent-danger, .btn-transparent-success  {
      color: $primary-color;
      i {
        margin-right: 0;
      }
      &:active {
        color: #fff;
      }

      &:focus {
        color: #fff;
      }
    }
    .btn-transparent-success {
      color: $success-color;
    }
    .btn-transparent-danger {
      color: $danger-color;
    }
    .btn + .btn {
      margin-right: 10px;
      overflow: visible;
      &:before {
        content: " ";
        position: absolute;
        display: inline-block;
        width: 1px;
        height: 12px;
        background: $danger-color;
        right: -7px;
        top: 10px;
      }
    }
    .btn {
      display: inline-flex;
      align-items: center;
      justify-content: center;
      margin-right: 4px;
      width: 32px;
      height: 32px;
      padding: 0;
      i {
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 14px !important;
        &[class*="ion-"] {
          font-size: 16px !important;
        }
        &.icon-email {
          color: $success-color;
        }
        &.icon-job-edit {
          color: $warning-color;
        }
        &.ion-ios-gear-outline {
          font-size: 19px !important;
        }
      }
      & + .btn {
        margin-right: 10px;
        &:before {
          top: 9px;
        }
      }
      & + ngb-tooltip-window + .btn {
        margin-right: 10px;
        overflow: visible;
        &:before {
          content: " ";
          position: absolute;
          display: inline-block;
          width: 1px;
          height: 12px;
          background: $danger-color;
          right: -7px;
          top: 9px;
        }
      }
    }
    &.datatable-body-cell {
      display: flex;
      align-items: center;
      flex-flow: row wrap;
    }
    .datatable-body-cell-label {
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      display: inline-block;
      max-width: 100%;
      width: 100%;
      color: #495962;

    }
    + datatable-body-cell {
      //border-left: 1px solid #eceeef;
    }
  }
  datatable-header-cell {
    .datatable-header-cell-template-wrap {
      @include flexbox();

      .datatable-header-cell-wrapper {
        overflow: hidden;
        .datatable-header-cell-label {
          color: #495962;
          padding: .75rem 5px .75rem .75rem;
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;
          display: block;
          font-weight: bold;
          position: relative;
        }
      }
    }


    + datatable-header-cell {

    }
    .datatable-header-cell-template-wrap {
      position: relative;
      height: 100% !important;
      padding-right: 25px;
    }
    &:not(.sortable) {
      .datatable-header-cell-template-wrap {
        .sort-btn:before {
          display: none;
        }
      }
    }
    &.sortable {
      position: relative;
      &.sort-active {
        &.sort-desc .sort-btn:after, &.sort-asc .sort-btn:before {
          color: #666;
        }
      }
      .sort-btn {
        line-height: 100%;
        display: flex !important;
        position: relative;
        @include align-items(center);
        //vertical-align: middle;
        //display: inline-block;
        cursor: pointer;
        //position: absolute;
        //top: 50%;
        ////width: auto;
        //height: 15px;
        //right: 0;
        //transform: translateY(-50%);
        &:before, &:after {
          font-family: 'IcoFont' !important;
          position: absolute;
          color: #ccc;
          font-size: 20px;
        }
        &:after {
          content: "\eb53";
          left: 0;
        }
        &:before {
          content: "\eb56";
          left: 5px;
        }
        &.sort-active {
          &.sort-desc:after, &.sort-asc:before {
            color: #666;
          }
        }
      }
    }
    &.text-right {
      .datatable-header-cell-label {
        //padding-right: 15px !important;
        //margin-right: 7px;
      }
    }

    &:last-child.text-right {
      padding-right: 0 !important;
      .datatable-header-cell-template-wrap {
        @include justify-content(flex-end);
        //datatable-header-cell-label {
        //
        //}
      }
    }
  }
}

.datatable-header-cell-wrapper, .datatable-header-cell-label {
  display: block;
}
.dt-cust-search.f-right{
  label{
    display: inline-block;
  }
  .form-control{
    display: inline-block;
    width: auto;
    vertical-align: middle;
  }
}
.data-table {
  datatable-header-cell.sortable {
    /*&:after {
      content: "\eb53";
      right: 10px;
    }
    &:before {
      content: "\eb56";
      right: 15px;
    }
    &.sort-active {
      &.sort-desc:after, &.sort-asc:before {
        color: #666;
      }
    }*/
  }
  &.scroll .datatable-body, &.fullscreen .datatable-body {
    height: 500px !important;
  }
  datatable-scroller {
    width: auto !important;
  }
}

.datatable-footer {
  //border-top: 1px solid rgba(0, 0, 0, 0.12);
  font-size: 16px;

  .page-count {
    line-height: 50px;
    height: 50px;
    padding-right: 1.2rem;
    font-weight: bold;
    color: #000;
    font-size: 14px;
  }
  .datatable-pager {
    margin: 0 10px;
    li {
      vertical-align: middle;
      &.disabled a {
        color: rgba(0, 0, 0, 0.26) !important;
        background-color: transparent !important;
      }
      &.active a {
        background-color: $color-blue;
        color: #fff;
      }
    }
    a {
      padding: 0 6px;
      border-radius: 3px;
      margin: 6px 3px;
      text-align: center;
      vertical-align: top;
      color: rgba(0, 0, 0, 0.54);
      text-decoration: none;
      vertical-align: bottom;
      &:hover {
        color: rgba(0, 0, 0, 0.75);
        background-color: rgba(158, 158, 158, 0.2);
      }
    }
    .datatable-icon-left, .datatable-icon-skip, .datatable-icon-right, .datatable-icon-prev {
      font-size: 10px;
      line-height: 20px;
      padding: 0 3px;
    }
  }
}

.datatable-icon-right, .datatable-icon-skip, .datatable-icon-left, .datatable-icon-down, .datatable-icon-prev {
  font-family: 'themify';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  *margin-right: .3em; // fixes ie7 issues
}
.datatable-icon-right:before {
  content: "\e649";
}
.datatable-icon-skip:before {
  content: "\e661";
}
.datatable-icon-left:before {
  content: "\e64a";
}
.datatable-icon-down:before {
  content: "\eb28";
}
.datatable-icon-prev:before {
  content: "\e662";
}

.dt-desc {
  th, td {
    padding: .75rem;
  }
  padding: 0.45rem 50px;
  table {
    min-width: 400px;
  }
}

.datatable-row-detail {
  background-color: #f9f9f9;
  box-shadow: inset 0px 2px 9px -6px rgba(0, 0, 0, 0.68);
}
.datatable-body-row.deleted {
  opacity: 0.4;
}
.expandable {
  datatable-body-cell + datatable-body-cell, datatable-header-cell + datatable-header-cell {
    width: calc(calc(100% - 50px) / 5) !important;
  }
  .datatable-body-row, .datatable-header-inner {
    width: 100% !important;
  }

}

.datatable-row-center, .datatable-scroll, .data-table.expandable datatable-scroller {
  width: 100% !important;
}

.ngx-datatable.data-table {
  &.single-selection .datatable-body-row.active:hover .datatable-row-group, &.multi-selection .datatable-body-row.active:hover .datatable-row-group, &.single-selection .datatable-body-row.active .datatable-row-group, &.multi-selection .datatable-body-row.active .datatable-row-group {
    background: $color-blue !important;
    color: #FFF !important;
  }
}
.ngx-datatable .datatable-body-row, .ngx-datatable .datatable-row-center, .ngx-datatable .datatable-header-inner {
  justify-content: space-between;
}
.selection-cell .datatable-body-cell.active {
  background: $color-blue !important;
  color: #FFF !important;
}

.selected-column label {
  margin-bottom: 5px;
}

.dt-chk {
  label {
    margin-bottom: 0;
  }
  .datatable-body-cell {
    line-height: 1 !important;
    overflow: hidden;
  }
}

.full-data-search {
  margin-left: 0.5em;
  display: inline-block;
  width: auto !important;
}

.full-data-show-entry {
  width: 75px;
  display: inline-block;
}

.full-data-table {
  .glyphicon {
    font-family: IcoFont;
    position: absolute;
    right: 14px;
    font-size: 20px;
    top: 9px;
    &.glyphicon-triangle-bottom:before {
      content: "\eb53";
    }
    &.glyphicon-triangle-top:before {
      content: "\eb56";
    }
  }
  th {
    position: relative;
  }
}
.fixed-header .datatable-header .datatable-header-inner {
  height: 100%;
}
