@import "../base/variables";

* {
  font-family: "Segoe UI", Arial;
}
body {
  font-family: "Segoe UI", Arial, sans-serif;
  font-size: $font-size-small;
  color: $primary-text;
  background-color: $bg-color;
}

//content
.main-container,
.pcoded-container {
  display: block;
  margin: 0 auto;
  max-width: 1440px !important;
  width: 100%;
}

.pcoded-container {
  background: $white !important;
}

.pcoded-main-container {
  min-height: 100vh;
  background: transparent;
  @include box-shadow(none);
}

.pcoded[theme-layout="vertical"][vertical-placement="left"][vertical-nav-type="expanded"][vertical-effect="shrink"] .pcoded-content {
  background: $white;
  @include box-shadow( 0px 1px 5px rgba(0, 0, 0, 0.08));
}

.pcoded-wrapper .pcoded-content {
  float: right !important;
  @include transition(all .3s);
  min-width: 0;
}

.pcoded-inner-content {
  padding: 20px 15px;
  min-height: calc(100vh - 54px);
  .page-wrapper {
    padding: 0 !important;
  }
}

//header
header {
  &.header-navbar {
    background-color: $main-blue !important;
    min-height: 54px;
  }
}

// chart
.ngx-charts {
  .x, .y {
    .tick {
      text {
        fill: $secondary-text;
      }
    }
  }
  .tooltip-anchor {
    fill: $secondary-text !important;
  }
}

// trial message
.trial-message {
  background: $st-rejected;
  color: $primary-text;
  height: 40px;
  width: 100%;
  z-index: 1029;
  position: fixed;
  top: 0;
  @include flexbox();
  @include align-items(center);
  @include justify-content(center);
  .trial-message-wrapper{
    width: 100%;
    @include flexbox();
    @include align-items(center);
    @include justify-content(space-between);
    max-width: 1440px !important;
  }
  a {
    margin-right: 45px;
    font-size: $font-size-base;
    font-weight: 600;
  }
  i {
    cursor: pointer;
  }
  &+ #pcoded {
    padding-top: 40px;
    .layout__sidebar {
      top: 94px !important;
    }
    .new-data-table, .data-table {
      .datatable-header, datatable-header {
        top: 94px;
      }
    }
    .custom-table,
    .custom-darg-drop-table {
      &-header {
        top: 94px;
      }
    }
  }
}

//global search
.search-wrapper {
  @include border-radius(3px);
  @include align-items(center);
  @include box-shadow($main-box-shadow);
  border: 1px solid $border-color;
  background-color: $white;
  width: 220px;
  height: 26px;
  padding: 0 10px;
  form {
    width: 100%;
  }
  input {
    border: none !important;
    font-size: 12px;
    padding: 0;
    height: 24px;
    width: 100%;
    padding: 5px 10px;
    &:focus {
      @include box-shadow(none);
    }
  }

  i.icon-search {
    line-height: 24px;
  }
}

.toggle-buttons-wrapper {
  border: 1px solid $border-color;
  @include box-shadow($main-box-shadow);
  @include align-self(flex-start);
  @include border-radius(3px);
  &.disabled {
    background: $disabled-color;
    span,
    .view-mode-active {
      background: $disabled-color;
      cursor: default;
      i {
        &:before {
          color: $secondary-icons;
        }
      }
    }
  }
  span,
  a {
    cursor: pointer;
    padding: 0 5px;
    height: 24px;
    @include border-radius(2px);
    display: block;
    line-height: 24px;
    i {
      font-size: 14px;
      width: 14px;
      height: 14px;
      &:before {
        color: $button-text;
      }
    }
    &.view-mode-active {
      background-color: $bg-color;
      i {
        &:before {
          color: $light-blue;
        }
      }
    }

    &:hover:not(.view-mode-active) {
      background-color: $bg-hover-color;
    }
  }
  .number {
    font-size: 12px;
    color: $button-text;
    font-weight: 600;
    border-left: 1px solid $border-color;
    border-right: 1px solid $border-color;
  }
  .icon-minus,
  .icon-plus {
    font-size: 10px;
    &:before {
      color: $button-text;
    }
  }
}

// colors-wrapper
.project-colors-wrapper {
  display: flex;
  flex-wrap: wrap;
  .color-item {
    width: 20px;
    height: 20px;
    display: block;
    margin-right: 10px;
    margin-bottom: 10px;
    .check-span {
      width: 20px;
      height: 20px;
      border-radius: 3px;
      position: absolute;
      top: 0;
      left: 0;
      cursor: pointer;
      user-select: none;
      display: block;
      &:before {
        content: '';
        position: absolute;
        left: 0;
        top: 0;
        margin: 0;
        width: 20px;
        height: 20px;
        transition: transform .28s ease;
        border-radius: 50%;
      }
      &:after {
        content: "";
        display: block;
        width: 6px;
        height: 12px;
        opacity: .9;
        border-right: 2px solid transparent;
        border-top: 2px solid transparent;
        position: absolute;
        left: 4px;
        top: 11px;
        will-change: height,width;
        transform: scaleX(-1) rotate(135deg);
        transform-origin: left top;
      }
    }
    label {
      position: relative;
      display: block;
    }
    input {
      width: auto;
      opacity: .00000001;
      position: absolute;
      left: 0;
      &:checked ~ .check-span {
        &:before {
          animation: .3s linear forwards ripple;
        }
        &:after {
          border-color: #fff;
        }
      }
    }
  }
}

//filter
.advanced-search {
  position: absolute;
  background-color: $white;
  @include box-shadow(0px 0px 15px rgba(0, 0, 0, 0.35));
  @include border-radius(3px);
  padding: 15px 0 10px;
  z-index: 5;
  left: 100px;
  top: 40px;
  border: 1px solid $secondary-icons;
  > div {
    padding: 0 10px;
  }
  &:before {
    content: "";
    position: absolute;
    top: -10px !important;
    left: 171px !important;
    border-radius: 0 !important;
    -webkit-transform: rotate(0);
    transform: rotate(0);
    border-width: 0px 10px 10px 10px;
    border-style: solid;
    border-color: transparent transparent $secondary-icons;
    border-image: initial;
    //filter: drop-shadow(0 0 10px rgba(0,0,0,0.15));
  }

  &:after {
    content: "";
    position: absolute;
    top: -9px !important;
    left: 172px !important;
    border-radius: 0 !important;
    -webkit-transform: rotate(0);
    transform: rotate(0);
    border-width: 0px 9px 9px 9px;
    border-style: solid;
    border-color: transparent transparent $white;
    border-image: initial;
    //filter: drop-shadow(0 0 10px rgba(0,0,0,0.15));
  }

  &.left-15 {
    left: 15px;
    &:before {
      left: 30px !important;
    }
    &:after {
      left:31px !important;
    }
  }

  .buttons-wrapper {
    padding-top: 10px !important;
    border-top: 1px solid $border-color;
  }

  .custom-search {
    .row {
      margin-left: -5px;
      margin-right: -5px;
      [class*='col-sm'] {
        padding-left: 5px;
        padding-right: 5px;
      }
    }
  }
}

//tags
.after-search-section {
  margin-bottom: 5px;
  .filter-title {
    font-size: 12px;
    font-weight: 400;
    display: inline-block;
  }
  .tags {
    display: inline;
    .tag {
      margin-bottom: 5px !important;
    }
  }
}

.ripple {
  position: relative;
}

// form
.new-form {
  .info-header {
    font-size: $font-size-base;
    color: $light-blue;
    margin-bottom: 15px;
  }
}

.new-ui-panel {
  border: 1px solid $bg-color;
  .ui-panel-titlebar {
    padding: 0;
  }
  .ui-panel {
    padding: 0;
    .ui-panel-content {
      padding: 0;

      .first-level + .tab-content {
        padding: 15px;
        &.custom-tab-content {
          padding-left: 0;
          .tab-content {
            padding: 0 10px 0 20px;
          }
        }
      }
      .nav-tabs {
        .nav-item {
          margin-bottom: 0 !important;
        }
        &.first-level {
          background-color: $bg-color !important;
          border: 0;
          .nav-item {
            .nav-link {
              position: relative;
              font-size: $font-size-small !important;
              font-weight: 600 !important;
              padding: 6px 15px 7px !important;
              line-height: 19px;
              @include transition(all 0.1s ease-in-out);
              border: 0;
              color: $button-text;
              &:hover {
                color: $light-blue !important;
              }
              &.active {
                color: $light-blue;
                &:after {
                  content: "";
                  width: 100%;
                  background-color: $light-blue;
                  height: 2px;
                  position: absolute;
                  left: 0;
                  right: 0;
                  top: 0;
                }
              }
            }
          }
        }
        &.second-level {
          border-bottom: 2px solid $bg-color;
          @include flexbox();
          + .tab-content {
            padding-top: 15px;
          }
          .nav-item {
            margin-right: 20px;
            @include flex(unset);
            width: auto;
            &:last-child {
              margin-right: 0 !important;
            }
            .nav-link {
              font-weight: normal !important;
              border: 0;
              padding: 5px 5px 6px !important;
              position: relative;
              color: $button-text;
              font-size: 13px;
              span {
                font-weight: 600;
                color: $button-text;
              }
              &.active {
                color: $button-text !important;
                font-weight: 600 !important;
                color: $light-blue !important;
                &:hover {
                  color: $light-blue !important;
                }
                &:after {
                  position: absolute;
                  content: "";
                  height: 2px;
                  background-color: $light-blue;
                  left: 0;
                  bottom: -2px;
                  right: 0;
                }
              }
              &:hover {
                color: $button-text !important;
              }
            }
          }
        }
      }
    }
  }
}

.new-md-left-tabs {
  ngb-tabset {
    border: none !important;
    .nav-tabs {
      min-width: auto !important;
      width: auto !important;
      .nav-item {
        .nav-link {
          margin: 0;
        }
      }
    }
    > .nav.nav-tabs:not(.second-level) {
      padding: 0;
      border: none;
      min-width: 250px !important;
      width: 250px !important;
      margin-left: -10px;
      .nav-item {
        .nav-link {
          border-left: none !important;
          background-color: $white;
          padding: 7px 10px !important;
          font-weight: 400;
          font-size: 13px;
          color: $button-text;
          @include transition(unset);
          @include border-radius(0);
          margin: 0;
          &:hover {
            background-color: $bg-hover-color;
          }
          &.active {
            //border-left: 2px solid $light-blue !important;
            //color: $light-blue;
            font-weight: 600;
            background-color: $bg-color;
            i {
              color: $light-blue;
            }
          }
          i {
            margin-left: 6px;
          }
        }
      }
    }
  }
  &.md-left-tabs {
    //border-top: 1px solid $bg-color;
    ngb-tabset {
      display: block;
      .tab-content {
        position: relative;
        width: 100%;
        left: 0;
        padding: 10px;
      }
    }
  }
}

.person-profile,
.job-opening-header,
.applicants-header {
  padding-bottom: 20px;
  .person-profile-picture {
    .img-uploader {
      max-width: 150px;
      width: 150px;
      @include flexbox();
      @include justify-content(center);
      img {
        width: 103px;
        height: 103px;
        @include border-radius(50px);
        cursor: pointer;
      }
    }
  }
  .name,
  .position-name {
    font-size: $font-size-large;
    font-weight: 700;
    color: $primary-text;
    vertical-align: middle;
    @include break-word();
  }
  .position {
    margin-bottom: 3px;
    @include break-word();
  }
  .id {
    margin-bottom: 8px;
  }

  .invitation-status {
    color: $green2;
    font-size: 11px;
    font-weight: 600;
  }

  .completed {
    color: $primary-icons;
    font-size: 11px;
    font-weight: 600;
    display: block;
    margin-top: 1px;
  }
  .contact-info {
    i {
      color: $light-blue;
      margin-right: 5px;
    }
  }
}

.img-uploader-wrapper {
  .img-uploader {
    position: relative;
    @include border-radius(5px);
    max-width: 95px;
    margin: 0 auto;
    &:hover {
      .edit-wrapper {
        display: block;
      }
    }
    img {
      border-radius: 5px;
    }
    .edit-wrapper {
      position: absolute;
      cursor: pointer;
      bottom: 0;
      right: 24px;
      border: 1px solid $border-color;
      width: 32px;
      height: 32px;
      line-height: 32px;
      background: $white;
      text-align: center;
      @include border-radius(50%);
      display: none;

      i {
        color: $light-blue;
        font-size: $font-size-base;
      }
    }
  }
}

.profile-tab-content,
.row-sm-gap7 {
  @include row-small-gap(-7.5px, 7.5px);
}

.row-sm-gap {
  @include row-small-gap(-5px, 5px);
}

.row-sm-gap3 {
  @include row-small-gap(-3px, 3px);
}

.progress {
  background-color: $border-color;
  &.progress-xs {
    height: 4px;
    .progress-bar-success {
      background-color: $green2;
    }
  }
}

.top-part {
  ng-select {
    margin-bottom: 0 !important;
  }
}
.view-mode {
  .card-row {
    padding: 0 0 10px 0;
    &:last-child {
      padding-bottom: 0 !important;
    }
  }
}

.image-uploader-new {
  .image-uploader-inner {
    @include flexbox();
    .caption {
      @include flexbox();
      @include align-items(center);
      font-size: $font-size-small;
      color: $secondary-text;
      max-width: 50% !important;
    }
    label {
      margin-bottom: 0;
      margin-right: 12px;
    }
    input {
      display: none;
    }
    .new-button {
      max-width: 50% !important;
    }
  }
  .list {
    .list_item {
      &:first-child {
        .file-name {
          margin-top: 8px;
        }
      }
      .file-name {
        position: relative;
        .icon-attachment {
          font-size: 12px;
          color: $light-blue;
          position: absolute;
          top: 4px;
        }
        .file-name-inner {
          max-width: 100%;
        }
        .button-wrapper {
          position: absolute;
          right: 0;
          top: 2px;
        }
        .btn-delete {
          padding: 0;
          &:focus {
            background: transparent !important;
          }
          i {
            color: $danger-color;
          }
        }
        razor-tooltip-holder {
          display: inline-block;
          max-width: 92%;
          padding-left: 16px;
          .outer {
            span {
              font-size: $font-size-small;
              font-weight: 600;
            }
          }
        }
      }
    }
  }
  .position-bottom {
    position: absolute;
    bottom: 0;
  }
}

.assignment-date {
  .actions {
    padding: 3px 11px;
  }
  .reason {
    font-size: 13px;
    span {
      font-weight: 600;
    }
    .status {
      color: $danger-color;
    }

    .for {
      font-weight: 400;
    }
  }
}


.documents-attachment {
  .outer {
    color: $light-blue;
    span {
      font-weight: 600;
      color: $light-blue;
      position: relative;
      padding-left: 18px;
      &:before {
        font-family: "icomoon";
        content: "\e975";
        position: absolute;
        left: 0;
        top: 4px;
        font-size: 12px;
      }
      &:hover {
        text-decoration: underline;
        cursor: pointer;
      }
    }
  }
}


.phone-info,
.mail-info {
  position: relative;
  padding-left: 21px;
  i {
    color: $light-blue;
    font-size: 14px;
    position: absolute;
    top: 3px;
    left: 1px;
  }
}
.employee-count {
  color: $light-blue;
  cursor: pointer;
  font-weight: 600;
  &.isScroll {
    + ngb-tooltip-window {
      .tooltip-inner {
        max-width: 225px !important;
        .employee-tooltip {
          overflow-y: scroll;
        }
      }
    }
  }
}

.employee-count + ngb-tooltip-window,
.employee-tooltip-wrapper {
  .tooltip-inner {
    min-width: 216px !important;
    min-height: 50px;
    padding-left: 3px;
    padding-right: 3px;
  }

  img + ngb-tooltip-window,
  i + ngb-tooltip-window {
    .tooltip-inner {
      max-width: 200px !important;
      min-height: auto;
      min-width: auto !important;
      padding-left: 8px;
      padding-right: 8px;
    }
  }

  .buttons-wrapper {
    border-top: 1px solid $border-color;
    margin: 5px -3px 0;
    padding: 5px 0;
  }
}

.employee-tooltip-wrapper {
  .tooltip-inner {
    min-width: 225px !important;
  }
  .employee-tooltip.is-scrolling {
    overflow-y: scroll;
  }
}

.employee-name {
  font-weight: 600;
  margin-bottom: 4px;
  .pos-level {
    font-size: 11px;
    font-weight: 500;
    color: $placeholder;
  }
}

.employee-tooltip {
  max-height: 170px;
  .image-wrapper {
    float: left;
    width: 32px;
    height: 32px;
    @include flexbox();
    @include align-items(center);
    @include justify-content(center);
    margin: 5px;
    img {
      width: 32px;
      height: 32px;
      @include border-radius(50%);
    }
  }
  .other {
    float: left;
    cursor: pointer;
    margin: 5px;
    @include flexbox();
    @include align-items(center);
    @include justify-content(center);
    width: 32px;
    height: 32px;
    i {
      font-size: 24px;
    }
  }
  &::-webkit-scrollbar {
    width: 3px;
    border-radius: 2px;
  }
  &::-webkit-scrollbar-track {
    opacity: .4;
    background-color: #f6f6f6;
  }
  &::-webkit-scrollbar-thumb {
    background-color: #e5e5e5;
    border-radius: 2px;
  }
  &:hover {
    &::-webkit-scrollbar {
      width: 6px;
    }
    &::-webkit-scrollbar-track {
      opacity: 1;
    }
  }
}

.info {
  font-size: 12px;
  color: $placeholder;
  display: inline-block;
  line-height: 12px;
  i {
    color: $light-blue;
    margin-right: 5px;
  }
}

.new-data-table,
.form-card,
.applicants-header {
  .table-row-tags {
    @include flexbox();
    @include align-items(center);
    width: 100%;
    &.tags-with-two-rows {
      @include flex-wrap(wrap);
      .tag {
        margin-bottom: 5px;
        max-width: 100%;
        ngb-tooltip-window {
          .tooltip-inner {
            font-size: 11px;
          }
        }

        &.with-icon {
          padding-right: 15px;
          position: relative;
          .btn-close {
            right: 5px;
            left: unset;
            top: -2px;
            position: absolute;
          }
        }
        .btn-close {
          cursor: pointer;
          margin-left: 5px;
          position: relative;
          top: -3px;
          left: -4px;
        }
        i {
          font-size: 7px;
          color: $danger-color;
        }
      }
      button {
        margin-bottom: 5px;
      }
    }
    &.full-width .tag {
        max-width: 100%;
      }
    .tag,
    .tooltip-holder {
      font-weight: 600;
      font-size: 12px;
      color: $light-blue;
      padding: 0px 5px;
      @include border-radius(2px);
      background: rgba(59, 184, 228, 0.1) !important;
      height: 18px;
      .more {
        font-weight: 600;
        font-size: 12px;
        &:hover {
          color: $light-blue;
        }
      }
    }

    .tag {
      max-width: 47%;
    }
    .tooltip-inner {
      overflow: hidden;
      span {
        float: left;
      }
      .tooltip-tag-wrapper:last-child {
        .tooltip-tag {
          margin-right: 0;
        }
      }
      .tooltip-tag {
        display: inline-block;
        font-weight: 600;
        font-size: 12px;
        color: $light-blue;
        padding: 0px 5px;
        @include border-radius(2px);
        background: rgba(59, 184, 228, 0.1) !important;
        margin-right: 5px;
        margin-bottom: 5px;
        line-height: 16px;
        word-break: break-word;
        -ms-word-wrap: break-word;
      }
    }

  }
}

.table-row-tags-tooltip {
  .tooltip-inner {
    overflow: hidden;
    span {
      float: left;
    }
    .tooltip-tag-wrapper:last-child {
      .tooltip-tag {
        margin-right: 0;
      }
    }
    .tooltip-tag {
      display: inline-block;
      font-weight: 600;
      font-size: 12px;
      color: $light-blue;
      padding: 0 5px;
      @include border-radius(2px);
      background: rgba(59, 184, 228, 0.1) !important;
      margin-right: 5px;
      margin-bottom: 5px;
      line-height: 16px;
      word-break: break-word;
      -ms-word-wrap: break-word;
    }
  }
}

.mce-tinymce {
  box-shadow: unset !important;
  border: 1px solid $border-color !important;
}

.mce-statusbar,
.mce-edit-area {
  border-top-color: $border-color !important;
}

.mce-top-part {
  &:before {
    box-shadow: unset !important;
  }
}


.small-screens {
  @media only screen and (max-width: 1350px) {
    .col-sm-3 {
      @include  flex(0 0 22%);
      max-width: 22%;
    }
    .col-sm-6 {
      @include flex(0 0 56%);
      max-width: 56%;
    }
  }
}

.cdk-drag-preview {
  background: $white;
  .content-cell {
    padding: 6px 10px 0;
    &:first-child {
      text-align: right;
    }
  }
  .table-row {
    @include box-shadow(0 2px 4px 1px rgba(60, 64, 67, 0.15));
    width: 100%;
    background: $white;
    position: relative;
    &.with-icon {
      .icon-drag {
        position: absolute;
        left: 2px;
        top: 11px;
      }
    }
    &.even {
      background: $disabled-color;
    }
    ngb-tooltip-window {
      display: none;
    }
  }
  ng-select.ng-select.new-element {
    width: 100%;
  }
}

.custom-table-content {
  .actions {
    height: 32px;
    .btn-transparent {
      height: 28px;
    }
  }
}

.custom-types {
  .ng-value {
    width: 100%;
    max-width: 97% !important;
  }

  .square-wrapper,
  .rating-wrapper,
  .thumbs-wrapper {
    @include flexbox();
    @include justify-content(space-between);
    i {
      font-size: 14px;
    }
  }
  .thumbs-wrapper {
    i.icon-new {
      color: $success-color;
    }
    i.icon-discard {
      color: $danger-color;
    }
  }
  .square-wrapper {
    i {
      font-size: 12px;
    }
  }
}

.time-offs {
  .item {
    height: 110px;
    position: relative;
    background: $white;
    text-align: center;
    border: 1px solid $border-color;
    padding: 10px 10px 5px 10px;
    @include border-radius(3px);
    @include box-shadow( 0px 1px 5px rgba(0, 0, 0, 0.08));
    .header {
      @include flexbox();
      @include justify-content(center);
      h5 {
        font-size: 13px;
        font-weight: 600;
        @include break-all();
        position: relative;
        span {
          color: $primary-text;
          padding-left: 24px;
          font-weight: 600;
          display: block;
          width: 100%;
          height: 32px;
          word-break: break-word;
          ngb-tooltip-window {
            .tooltip-inner {
              font-size: 11px;
            }
          }
        }
      }
      i {
        font-size: $font-size-large;
        margin-right: 5px;
        position: absolute;
        left: 0;
      }
    }
    .content {
      font-size: 20px;
      font-weight: 600;
      left: 20px;
      right: 20px;
      margin-top: 5px;
      @include vertical-align();
      @include justify-content(center);
      .day-left {
        @include flexbox();
        @include align-items(center);
        @include justify-content(center);
        span {
          padding-left: 5px;
        }
      }
      span:not(.day-left) {
        font-size: $font-size-small;
      }
    }
  }
}

.maximize {
  .layout.layout--minimized .layout__content {
    width: 100% !important;
    @include transition(unset !important);
  }
  header,
  app-breadcrumb,
  .layout__sidebar,
  .maximize-hide {
    display: none !important;
  }
  .pcoded-container {
    max-width: 100% !important;
    height: 100vh;
    .pcoded-main-container {
      padding-top: 0 !important;
      min-height: 100% !important;
      .pcoded-inner-content {
        min-height: 100% !important;
        padding: 15px !important;
      }
    }
    .layout__content {
      width: 100%;
    }
    .maximize-scheduler {
      background: $white;
    }
  }
}
.maximize {
  perfect-scrollbar.scroll-project-scheduler {
    max-height: calc(100vh - 120px) !important;
  }

  perfect-scrollbar.scroll-time-off {
    max-height: calc(100vh - 130px) !important;
  }

  perfect-scrollbar.timesheet-scheduler-scroll {
    max-height: calc(100vh - 75px) !important;
  }

  perfect-scrollbar.worklog-scheduler-scroll {
    max-height: calc(100vh - 80px);
  }
}
.time-off-details-wrapper {
  .time-off-details {
    color: $light-blue;
    font-size: $font-size-small;
    font-weight: 600;
    cursor: pointer;
    position: absolute;
    left: 20px;
    right: 20px;
    bottom: 5px;
    .icon-arrow {
      font-size: 10px;
    }
  }
}

.modal-open.custom-stages {
  perfect-scrollbar {
    z-index: unset !important;
  }
  .ps__rail-y {
    display: none !important;
  }
  .content-row {
    cursor: default;
    @include pointer-none();
  }
}

.approvers-block {
  margin-bottom: 12px;
  &:last-child {
    margin-bottom: 0;
  }
  .block-inner-header {
    .name {
      font-size: 13px;
      font-weight: 600;
    }
    .img-wrapper {
      width: 32px;
      min-width: 32px;
      margin-right: 5px;
      img {
        width: 32px;
        height: 32px;
        @include border-radius(50px);
      }
    }
  }
  .block-inner-content {
    .comment {
      line-height: 16px;
      font-size: 12px;
      margin-top: 4px;
      padding-right: 8px;
    }
    .date {
      font-size: 12px;
      color: $placeholder;
      margin-top: 3px;
      i {
        margin-left: 1px;
        color: $light-blue;
      }
    }
  }
}
.no-access-role {
  .time-offs {
    >.col-sm-6 {
      @include flex-value(0 0 25%);
      max-width: 25%;
    }
  }
  app-dashboard-contacts {
    .new-nav-tabs {
      .nav-item {
        ~.nav-item {
          margin-left: 10px;
        }
      }
    }
    .contact-row {
      [class^="col-"] {
        &:first-child {
         @include flex-value(0 0 30%);
         max-width: 30%;
         @media only screen and(max-width: 1200px) {
          @include flex-value(0 0 35%);
          max-width: 35%;
        }
      }
      &:nth-child(2) {
        @include flex-value(1);
        max-width: inherit;
      }
    }
  }
  }
}

.table-status-mark {
  i {
    color: $cyan;
    font-size: 11px;
  }
}

.expand-icon-wrapper {
  position: relative;
  .id {
    padding-left: 27px;
  }
  a.icon-arrow {
    color: $main-blue;
    font-size: 10px;
    cursor: pointer;
    position: absolute;
    left: 0;
    top: 3px;
    &:hover {
      text-decoration: none;
    }
    &.right {
      display: inline-block;
      @include transform(rotate(-90deg));
    }
  }
}

.rep-image-wrapper {
  width: 32px;
  margin-right: 10px;
  @include flex-value(1 1 42px);
  img {
    width: 32px;
    height: 32px;
    @include border-radius(50px);
  }
}

.recruitment-wrapper {
  .rep-image-wrapper {
   max-width: 32px;
   min-width: 32px;
   @include flex-value(1 1 32px);
 }
 .new-link,
 .link {
   line-height: 12px;
 }
}

.more-tooltip-wrapper {
  .tag {
    @include flexbox();
    razor-tooltip-holder {
      max-width: 100%;
      span {
        float: none !important;
      }
    }
    .btn-close {
      top: 1px !important;
    }
  }
}

.slide-buttons {
  button {
    width: 26px;
    height: 26px;
    min-width: 26px;
    padding: 0;
    i {
      margin: 0;
      &:before {
        color: $icon-color;
        font-size: 7px;
      }
      &.right {
        margin-right: 5px;
        @include transform(rotate(-90deg));
      }

      &.left {
        margin-left: 5px;
        @include transform(rotate(90deg));
      }
    }
    &:first-child {
      @include border-radius(3px 0 0 3px);
    }
    &:last-child {
      @include border-radius(0 3px 3px 0);
    }
  }
}

.view-history ~ ngb-tooltip-window {
  left: -55px !important;
  .arrow {
    left: calc(73% - .4rem) !important;
  }
  .tooltip-inner {
    max-width: 350px;
    text-align: left;
    .item {
      margin-bottom: 6px;
      font-weight: 600;
      display: block;
    }
  }
}


bar-rating {
  .br-fontawesome-o {
    .br-fraction,
    .br-selected {
      &:after {
        color: $st-rejected;
      }
    }
    .br-unit {
      font-family: 'icomoon';
      font-size: 14px;
      &:after {
        content: "\e97e";
        color: $st-rejected;
      }
      &.br-fraction {
        &:after {
          content: "\e97e";
        }
      }
      &.br-selected {
        &:after {
          content: "\e98e";
        }
      }
    }


  }
  &.rating-table {
    .br {
      margin: 0;
    }
  }
}

.cv {
  color: $light-blue;
  font-weight: 600;
  font-size: $font-size-small;
  .icon-new-cv {
    font-size: 11px;
    margin-right: 3px;
  }
}

.flag-active-row {
  background-color: #E5F1F6;
}

.job-description-text p {
  font-size: 12px;
}


.candidates-list {
  h1.title {
    color: $light-blue;
    font-weight: bold;
    font-size: $font-size-base;
  }
  .candidate-item {
    padding-bottom: 10px;
    margin-bottom: 10px;
    border-bottom: 1px solid $bg-color;
    &:last-child {
      border: none;
    }
    .icon-new {
      color: $success-color;
    }
    .icon-discard {
      color:$danger-color;
    }
  }
  .candidate-item-header {
    line-height: 16px;
    margin-bottom: 1px;
    img {
      width: 32px;
      height: 32px;
      @include border-radius(50%);
      margin-right: 5px;
    }
    .name {
      margin-right: 10px;
    }
    @include flexbox();
    @include align-items(center);
  }
}

.state-component {
  /deep/ app-state-input-new {
    .col-sm-4 {
      display: none;
    }
    .col-sm-8 {
      @include flex(0 0 100%);
      max-width: 100%;
    }
  }
}

.h-100 {
  height: 100% !important;
}

.login-block {
  margin: 0;
  padding: 0;
  height: 100vh;
  width: 100vw;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #0d3772;
  .logo-container {
    text-align: center;
    img {
      width: 100px;
      height: 100px;
    }
  }
  .form-container {
    padding: 20px 100px 40px;
    width: 500px;
    background-color: #fff;
    font-size: 12px;
    @include border-radius(3px);
    @include box-shadow(0 0 5px rgba(0, 0, 0, 0.05));
    .login-error {
      color: $danger-color;
      font-size: 13px;
      margin-bottom: 12px;
    }
  }
}
