@import "variables";
@import "mixins";

body {
  color: $font-color;
  font-size: 13px;
}

* {
  padding: 0;
  margin: 0;
  text-decoration: none;
}

.my-link {
  color: $ae-color !important;
  cursor: pointer !important;
  transition: 0.2s;

  &:hover {
    text-decoration: underline;
    color: $ae-hover-color !important;

    i {
      color: $ae-hover-color !important;
    }
  }
}

.color-ae-font {
  color: $font-color;
}


ng-select.ng-select.new-element,
razor-multiselect.new-element ng-select.ng-select.new-element {
  border: 1px solid $border-color;
  @include border-radius(3px);
  font-size: 12px;
  min-height: 26px !important;
  padding: 0 10px !important;
  height: inherit;
  @include box-shadow($main-box-shadow);
  @include flexbox();
  @include align-items(center);

  &.blue-border {
    border-color: $cyan;
  }

  @at-root .blue-border ng-select.ng-select.new-element {
    border-color: $cyan;
  }

  &.ng-select-multiple {
    .ng-value {
      @include tag-style();

      .ng-value-label {
        font-size: 12px !important;
        font-weight: 600 !important;
        @include text-overflow();
        display: inline-block;
      }
    }

    .ng-select-container {
      .ng-clear-wrapper {
        display: none;
      }
    }

    .ng-value-icon {
      @include ng-value-icon();
    }
  }

  .ng-select-container {
    height: inherit !important;
    min-height: 1px;

    &:after {
      display: none;
    }

    .ng-value-container {
      @include flexbox();
      @include align-items(center);
      height: inherit !important;
      padding: 0 !important;
      margin: 0;
      border: none;

      .ng-placeholder {
        color: $placeholder !important;
        height: inherit !important;
        margin: 0;
        @include transition(none);
        max-width: 90%;
        white-space: nowrap;
      }

      .ng-value {
        max-width: 90%;
      }
    }

    .ng-value,
    .ng-input,
    .ng-value-label {
      height: inherit !important;
    }

    .ng-clear-wrapper {
      border: none !important;
      margin: 0;
      padding: 0;
      bottom: 0 !important;
      width: 10px;

      .ng-clear {
        font-size: 16px;
        font-weight: 600;
      }
    }
  }

  .ng-dropdown-panel {
    .ng-dropdown-panel-items {
      .ng-option {
        line-height: 26px;
        min-height: 26px;
        padding: 0 10px;
      }
    }
  }

  .select-dropdown {
    .highlighted {
      background-color: $color-blue;
    }
  }

  input {
    border: none !important;
    height: auto !important;
    padding: 0 !important;
  }

  background: $white;
}

// For material modal
.cdk-overlay-container,
.cdk-overlay-backdrop,
.cdk-overlay-connected-position-bounding-box,
.cdk-overlay-pane {
  z-index: 200000;
}

.mat-expansion-panel:not([class*=mat-elevation-z]) {
  box-shadow: none;
}

.mat-form-field-appearance-legacy .mat-form-field-wrapper {
  padding-bottom: 10px;
}

.mat-form-field-appearance-legacy .mat-form-field-underline {
  bottom: 10px;
}

app-raiser-list-footer {
  width: 100%;
}
