//background size
@import "variables";
@mixin background-size($cover:cover, $contain:contain) {
  -webkit-background-size: $cover;
  -moz-background-size: $cover;
  -o-background-size: $cover;
  background-size: $cover;
}


//border radius
@mixin border-radius($radius:0) {
  /* Safari 3-4, iOS 1-3.2, Android 1.6- */
  -webkit-border-radius: $radius !important;
  /* Firefox 1-3.6 */
  -moz-border-radius: $radius !important;
  /* Opera 10.5, IE 9, Safari 5, Chrome, Firefox 4, iOS 4, Android 2.1+ */
  border-radius: $radius ;
}

@mixin border-radius-seperate($topleft:0, $topright:0, $bottomright:0, $bottomleft:0) {
  border-radius: $topleft $topright $bottomright $bottomleft !important;
  -webkit-border-radius: $topleft $topright $bottomright $bottomleft !important;
  -moz-border-radius: $topleft $topright $bottomright $bottomleft !important;
}

//opacity
@mixin opacity($value:1) {
  //$IEValue: $value*100;
  opacity: $value;
  //-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity="+$IEValue+")";
  //filter: alpha(opacity=$IEValue);
}

// flex-start | flex-end | center | baseline | stretch
@mixin align-items($align) {
  -webkit-align-items: $align !important;
  -moz-align-items: $align !important;
  -ms-align-items: $align !important;
  align-items: $align !important;
}

@mixin align-items-new($align) {
  -webkit-align-items: $align;
  -moz-align-items: $align;
  -ms-align-items: $align;
  align-items: $align;
}

// auto | stretch | center | flex-start | flex-end | baseline | initial | inherit
@mixin align-self($align) {
  -webkit-align-self: $align;
  align-self: $align;
}

@mixin justify-content($justify) {
  -webkit-justify-content: $justify !important;
  -moz-justify-content: $justify !important;
  -ms-justify-content: $justify !important;
  justify-content: $justify !important;
  -ms-flex-pack: $justify !important;
}

/* ========================= flex firedction========================= */
@mixin flex-direction($value: row) {
  @if $value == row-reverse {
    -webkit-box-direction: reverse;
    -webkit-box-orient: horizontal;
  } @else if $value == column {
    -webkit-box-direction: normal;
    -webkit-box-orient: vertical;
  } @else if $value == column-reverse {
    -webkit-box-direction: reverse;
    -webkit-box-orient: vertical;
  } @else {
    -webkit-box-direction: normal;
    -webkit-box-orient: horizontal;
  }
  -webkit-flex-direction: $value;
  -moz-flex-direction: $value;
  -ms-flex-direction: $value;
  flex-direction: $value;
}

@mixin flexbox() {
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
}

@mixin flex($columns: initial) {
  -webkit-flex: $columns;
  -ms-flex: $columns;
  flex: $columns;
}

/* =========================order======================== */
@mixin order($val) {
  -webkit-box-ordinal-group: $val;
  -moz-box-ordinal-group: $val;
  -ms-flex-order: $val;
  -webkit-order: $val;
  order: $val;
}

//transform
@mixin transform($transforms) {
  -moz-transform: $transforms;
  -o-transform: $transforms;
  -ms-transform: $transforms;
  -webkit-transform: $transforms;
  transform: $transforms;
}


@mixin text-overflow() {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

/* =========================flex value======================== */
@mixin flex-value($values) {
  -webkit-box-flex: $values;
  -moz-box-flex: $values;
  -webkit-flex: $values;
  -ms-flex: $values;
  flex: $values;
}

@mixin inline-flex {
  display: -webkit-inline-flex;
  display: -ms-inline-flexbox;
  display: inline-flex;
}

@mixin placeholder {
  ::-webkit-input-placeholder {
    @content
  }
  :-moz-placeholder {
    @content
  }
  ::-moz-placeholder {
    @content
  }
  :-ms-input-placeholder {
    @content
  }
}

@mixin flex-wrap($wrap) {
  -webkit-flex-wrap: $wrap;
  -moz-flex-wrap: $wrap;
  -ms-flex-wrap: $wrap;
  flex-wrap: $wrap;
}

@mixin transition-delay($delay...) {
  -moz-transition-delay: $delay;
  -o-transition-delay: $delay;
  -webkit-transition-delay: $delay;
  transition-delay: $delay;
}

@mixin animation($animation) {
  -webkit-animation: $animation; /* Safari 4+ */
  -moz-animation: $animation; /* Fx 5+ */
  -o-animation: $animation; /* Opera 12+ */
  animation: $animation; /* IE 10+, Fx 29+ */
}

@mixin animation-duration($duration) {
  -o-animation-duration: $duration;
  -moz-animation-duration: $duration;
  -webkit-animation-duration: $duration;
  animation-duration: $duration;
}


@mixin user-select($user-select) {
  -webkit-user-select: $user-select; /* Chrome all / Safari all */
  -moz-user-select: $user-select; /* Firefox all */
  -ms-user-select: $user-select; /* IE 10+ */
  user-select: $user-select;
}


@mixin break-all() {
  -ms-word-break: break-all;
  word-break: break-all;
}

@mixin break-word() {
  -ms-word-break: break-word;
  word-break: break-word;
}

@mixin vertical-align {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

@mixin center-block {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%,-50%);
  -ms-transform: translate(-50%,-50%);
  transform: translate(-50%,-50%);
}

@mixin box-shadow($arguments) {
  -webkit-box-shadow: $arguments !important;
  -moz-box-shadow: $arguments !important;
  box-shadow: $arguments !important;
}

/* ========================= transition ========================= */
@mixin transition($transition) {
  -webkit-transition: $transition;
  -moz-transition: $transition;
  -o-transition: $transition;
  transition: $transition;
}


// button

@mixin button($border-radius:3px, $border-color: $border-color, $bg-color: $white, $line-height: 14px,$min-width: 70px,$font-size: 13px, $padding1:5px,$padding2: 10px,$icon-margin:5px,$color:$button-text,$icon-color: $light-blue,$icon-size: 12px) {
  min-width: $min-width;
  line-height: $line-height;
  padding: $padding1 $padding2;
  @include border-radius($border-radius);
  border: 1px solid $border-color;
  background-color: $bg-color;
  font-size: $font-size;
  font-family: 'Segoe UI';
  @include flexbox();
  @include align-items(center);
  @include justify-content(center);
  @include box-shadow($main-box-shadow);
  color: $color;
  font-weight: 600;
  &:hover {
    background-color: $bg-hover-color;
    cursor: pointer;
  }

  &:focus {
    border-color: $border-color;
    background-color: #E4EBEF;
  }
  &.disabled {
    border-color: $border-color;
    background-color: $disabled-color;
    cursor: default;
    @include opacity(0.5);
  }

  i {
    margin-right: $icon-margin;
    color: $icon-color;

    &:before {
      font-size: $icon-size;
    }
  }
}

@mixin box-sizing($box-model) {
  -webkit-box-sizing: $box-model; // Safari <= 5
  -moz-box-sizing: $box-model; // Firefox <= 19
  box-sizing: $box-model;
}


@mixin tag-style() {
  @include border-radius(2px);
  @include flexbox();
  @include align-items(center);
  background-color: rgba(59, 184, 228, 0.1) !important;
  color: $light-blue !important;
  padding: 1px 5px !important;
  margin: 2px 2px 2px 0 !important;
  font-weight: 600;
  line-height: 16px !important;
}

@mixin ng-value-icon() {
  padding-right: 0 !important;
  margin-left: 5px;
  line-height: 16px;
  font-weight: normal;
  &:before {
    font-family: "icomoon";
    content: "\e902";
    color: $danger-color;
    font-size: 7px;
  }
}

//row small gap
@mixin row-small-gap($margin: -5px, $padding: 5px) {
  margin-left: $margin !important;
  margin-right: $margin !important;
  .col-sm-gap {
    padding-left: $padding !important;
    padding-right: $padding !important;
  }
}

@mixin position($sticky) {
  -webkit-position: $sticky;
  -moz-position: $sticky;
  -ms-position: $sticky;
  -o-position: $sticky;
  position: $sticky;
}

@mixin pointer-none {
  -moz-pointer-events: none;
  -webkit-pointer-events: none;
  -o-pointer-events: none;
  -ms-pointer-events: none;
  pointer-events: none;
}


@mixin pointer-events($param) {
  -moz-pointer-events: $param;
  -webkit-pointer-events: $param;
  -o-pointer-events: $param;
  -ms-pointer-events: $param;
  pointer-events: $param;
}

@mixin transform-origin ($origin) {
  -webkit-transform-origin: $origin;
  -moz-transform-origin: $origin;
  transform-origin: $origin;
}

@mixin custom-scrollbar-hor {
  &::-webkit-scrollbar {
    opacity: 0;
    height: 0;
    border-radius: 2px;
  }
  &::-webkit-scrollbar-track {
    opacity: .4;
    background-color: #f6f6f6;
  }
  &::-webkit-scrollbar-thumb {
    background-color: #e5e5e5;
    border-radius: 2px;
  }

  &:hover {
    &::-webkit-scrollbar {
      opacity: 1;
      height: 6px;
    }
    &::-webkit-scrollbar-track {
      opacity: 1;
    }
  }
}

@mixin custom-scrollbar-vert {
  &::-webkit-scrollbar {
    opacity: 0;
    width: 0;
    border-radius: 2px;
  }
  &::-webkit-scrollbar-track {
    opacity: .4;
    background-color: #f6f6f6;
  }
  &::-webkit-scrollbar-thumb {
    background-color: #e5e5e5;
    border-radius: 2px;
  }

  &:hover {
    &::-webkit-scrollbar {
      opacity: 1;
      width: 6px;
    }
    &::-webkit-scrollbar-track {
      opacity: 1;
    }
  }
}
