<div class="layout-left"></div>
<div class="layout-center">
  <div class="d-flex not-found-wrapper">
    <img src="assets/images/404.png" alt="">
  </div>
  <div class="d-flex">
    <div class="at-event w-25 m-l-r-auto d-flex justify-content-center"
         (mouseenter)="changeAtEventPhoto(true)"
         (mouseleave)="changeAtEventPhoto(false)"
         (click)="onNavigateDashboard()">
      <div>
              <span class="img-wrapper">
                <img [src]="atEventPhotoUrl" alt="" style="object-fit: cover">
              </span>
        <span class="sign-in">{{'NOT_FOUND.navigate' | translate}}</span>
      </div>
    </div>
  </div>
</div>
<div class="layout-right"></div>
<div class="ae-footer">
  <div class="row ae-footer-content d-flex flex-space-between">
    <div class="col-sm-5 text-left color-ae">
      <span>
        {{'FOOTER.copyright' | translate}}
      </span>
    </div>
    <div class="col-sm-2 text-center">
      <a [routerLink]="['/dashboard']">
        <img src="assets/images/ae-logo.png" alt="" height="25" width="100">
      </a>
    </div>
    <div class="col-sm-5 text-right color-ae">
      <span class="to-top" (click)="scrollToTop()">
      <i class="fa fa-chevron-up m-r-5"></i>
        {{'FOOTER.to_top' | translate}}
      </span>
    </div>
  </div>
</div>
