.custom-darg-drop-table {
  .custom-placeholder {
    background: rgba(59, 184, 228, 0.05);
    border: dotted 1px $light-blue;
    min-height: 15px;
    @include transform(250ms cubic-bezier(0, 0, 0.2, 1));
  }

  .actions {
    .btn-transparent {
      width: 32px;
      height: 32px;
    }
  }

  .cdk-drag-placeholder {
    @include opacity(unset);
  }

}


.custom-darg-drop-table,
.cdk-drag-preview {
  .content-row {
    &.deleted {
      opacity: 0.4;
    }
    .content-cell {
      &.with-icon {
        position: relative;
        padding-left: 28px;

        .icon-drag {
          position: absolute;
          left: 10px;
          top: 10px;
        }
      }
    }
  }
}

.cdk-drag-animating {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.cdk-drop-list-dragging .content-row:not(.cdk-drag-placeholder) {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.cdk-drop-list {
  min-height: 32px;
}

.cdk-drag-preview {
  background: $white;

  .content-cell {
    padding: 6px 10px 0;

    &:first-child {
      text-align: right;
    }
  }

  .table-row,
  .content-row {
    @include box-shadow(0 2px 4px 1px rgba(60, 64, 67, 0.15));
    width: 100%;
    background: $white;
    &.deleted {
      opacity: 0.4;
    }

    i.icon-drag {
      margin-right: 9px;
    }

    &.even {
      background: $disabled-color;
    }

    /deep/ ngb-tooltip-window {
      display: none;
    }
  }

  /deep/ ng-select.ng-select.new-element {
    width: 100%;
  }
}

.cdk-drag-placeholder {
  opacity: 0;
}
