.scheduler-wrapper {
  position: relative;
  border: 1px solid $border-color;

  .scheduler-table-head {
    width: 100%;
    border-spacing: 0;
    border-collapse: separate;
    border-bottom: 2px solid $disabled-color;

    .today {
      border: 1px solid $cyan !important;
      color: $cyan;
      // flex: unset !important;

      .months {
        color: $cyan;
      }
    }

    .months,
    .weeks {
      display: block;
      font-size: 12px;
      color: $button-text;
      line-height: 16px;
    }

    .billable-actual {
      text-align: center;
      margin-top: -4px;
    }

    .total {
      font-weight: 700;
      display: block;
      font-size: 12px;
      line-height: 14px;
    }

    .total-value {
      font-size: 11px;
      font-weight: 400;
    }

    th {
      &.sticky {
        z-index: 2;
        display: block;
        background-color: $white;
        @include position(sticky);

        &:first-child {
          left: 0;
          width: 200px;
          max-width: 200px;
          @include flex-value(1 1 200px);

          h5 {
            font-weight: 700;
            font-size: 14px;
            margin-left: 15px;
            margin-top: -3px;
          }
        }

        &:nth-child(2) {
          left: 200px;
          width: 90px;
          max-width: 90px;
          @include flex-value(1 1 90px);
        }
      }
    }

    .month-header {
      border-top: 1px solid $border-color;
    }

    th, td {
      padding: 0;
      border-right: 1px solid $border-color;

      &:last-child {
        border-right: none;
      }
    }

    tr {
      @include flexbox();

      &.first-row {
        th, td {
          height: 26px !important;
        }
      }

      &.timesheet-first-row {
        th, td {
          padding-top: 3px;
          border-bottom: none !important;
          height: 40px;

          h5 {
            margin-top: 9px !important;
          }

          .total-value {
            margin-top: 3px;
          }
        }
      }

      td {
        width: 70px;
        //height: 37px;
        @include flexbox();
        @include flex-value(1 1 70px);
        @include align-items(center);
        @include flex-direction(column);
      }
    }

    .approved,
    .available,
    .processing {
      font-size: 12px;
      font-weight: 600;
      padding: 4px 0 0 0;
      position: relative;
      @include align-items(flex-start);

      span.view {
        cursor: pointer;
        font-size: 11px;
        color: $light-blue;
        position: absolute;
        right: 7px;
        top: 6px;
      }
    }

    .available {
      color: $light-blue;

      span {
        margin-left: 8px;
      }
    }

    .processing {
      color: $st-in-progress;
      background-color: rgba(84, 129, 247, 0.15);

      span {
        margin-left: 4px;
      }
    }

    .approved {
      color: $success-color;
      background-color: rgba(112, 194, 74, 0.15);

      span {
        margin-left: 4px;
      }
    }

    .approved-cell {
      background-color: rgba(112, 194, 74, 0.15);
    }

    .processing-cell {
      background-color: rgba(84, 129, 247, 0.15);
    }
  }

  .scheduler {
    border-collapse: separate;
    border-spacing: 0;
    position: relative;
    margin-bottom: 0px !important;

    tr {
      border-bottom: 1px solid $border-color;
      padding-bottom: 0;
      @include flexbox();

      th {
        border: 0;
        border-right: 1px solid $border-color;
        width: 70px;
        padding: 5px 10px;
        //max-width: 200px;
        min-height: 30px;
        @include flex-value(1);

        &:first-child {
          left: 0;
          z-index: 2;
          padding: 0px 5px 0px !important;
        }
      }

      td {
        position: relative;
        border: 0;
        border-right: 1px solid $scheduler-border-color;
        @include flexbox();
        @include flex-value(1 1 70px);
        width: 70px;
        @include flex-direction(column);

        &:not(:first-child) {
          padding: 0;
        }

        &:last-child {
          border-right: 0;
        }
      }
    }

    tbody {
      tr {
        border-bottom: none;

        th {
          width: 200px;
          max-width: 200px;
          @include flex-value(1 1 200px);
          @include position(sticky);
          background-color: $white;
          left: 0;
          z-index: 2;
          padding: 2px 10px 4px;
          border-bottom: 1px solid $border-color;

          a {
            display: block;
            @include text-overflow();
          }
        }

        td {
          border-bottom: 1px solid $scheduler-border-color;
        }

        &:last-child {
          th, td {
            border-bottom: none;
          }
        }
      }
    }

    thead {
      tr {
        &.headers {
          th {
            @include flexbox();
            @include align-items(center);

            &:not(.title) {
              @include justify-content(center);
            }
          }
        }

        th {
          @include align-self(center);
          @include position(sticky);
          background: $white;
          top: 0;

          &:first-child {
            width: 200px;
            max-width: 200px;
            @include flex-value(1 1 200px);

            th:last-child {
              border-right: none !important;
            }

            h5 {
              font-weight: 700;
              font-size: 14px;
              position: absolute;
              top: -7px;
              left: 15px;
            }
          }

          &:not(:first-child) {
            span {
              display: block;
              text-align: center;
              font-size: 12px;
              font-weight: 600;
            }
          }

          &:last-child {
            border-right: none !important;
          }
        }

        &:first-child {
          border-bottom: none;

          th {
            span {
              font-size: 13px;
              font-weight: 700;
            }
          }
        }

        &:nth-child(2) {
          th:not(:first-child) {
            border-top: 1px solid $border-color;
          }
        }
      }
    }

    .empty-cell {
      display: block;
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      cursor: pointer;
    }

    .time-off__icon_wrapper {
      position: absolute;
      right: 4px;
      bottom: 5px;

      .time-off__icon {
        margin-left: 5px;
        height: 12px;
        @include flexbox();
        position: relative;

        .calendar-day__tooltip {
          bottom: 18px;
          top: inherit;
          min-width: 190px;

          i {
            font-size: 14px;
          }
        }

        i {
          font-size: 11px;
        }
      }
    }

    &.timesheet,
    &.worklog {
      thead {
        tr {
          th,
          td {
            height: 42px;
            display: block;
            text-align: center;
            font-size: 12px;

            h5 {
              top: 12px;
            }

            .total {
              font-weight: 700;
              display: block;
              font-size: 12px;
              line-height: 14px;
            }

            .total-value {
              font-size: 11px;
              font-weight: 400;
            }
          }

          &:first-child {
            th,
            td {
              border-bottom: 2px solid $disabled-color !important;
            }
          }

          td.sticky {
            background-color: $white;
          }

          td {
            padding-top: 3px;
          }
        }
      }

      tbody {
        tr {
          th, td {
            height: 40px;
            border-bottom: 0 !important;
            padding-top: 5px;
          }

          td {
            text-align: center;

            p {
              font-size: 12px;
            }

            .timesheet-wrapper {
              border-bottom: 3px solid transparent;
            }

            .timesheet-wrapper0,
            .timesheet-wrapper20,
            .timesheet-wrapper10,
            .timesheet-wrapper30 {
              height: 100%;
            }

            .timesheet-wrapper0 {
              border-bottom: 2px solid $danger-color;

            }

            .timesheet-wrapper20 {
              border-bottom: 2px solid rgb(84, 129, 247);
            }

            .timesheet-wrapper10 {
              border-bottom: 2px solid rgb(244, 184, 95);
            }

            .timesheet-wrapper30 {
              border-bottom: 2px solid rgb(155, 189, 95);
            }

            p {
              margin-bottom: 0;
            }
          }

          &:nth-child(odd) {
            th, td {
              background-color: $white;
            }
          }

          &:nth-child(even) {
            th, td {
              background-color: $disabled-color;
            }
          }
        }
      }

      tr td.sticky,
      .total-row th + td {
        z-index: 2;
        left: 200px !important;
        width: 90px !important;
        max-width: 90px !important;
        font-size: 13px;
        @include position(sticky !important);
        @include flex(1 1 90px);
        font-weight: 400;

        .worklog-total-col {
          cursor: pointer;
          color: $light-blue;
          font-weight: 600;
        }

        p {
          font-size: 13px;
        }
      }

      .total-row {
        th, td {
          height: 30px;
          padding: 5px !important;
          font-weight: 600;

          p {
            font-size: 13px;
          }
        }

        th,
        td > div {
          @include flexbox();
          @include align-items(center);
        }

        td > div {
          height: 100%;
          @include justify-content(center);
        }

        th {
          font-size: 12px;
          font-weight: 700;
        }
      }
    }

    .history-day {
      position: absolute;
      top: -2px;
      left: 4px;
      cursor: pointer;

      i {
        font-size: 8px;
        $color: $primary-icons;
      }
    }
  }
}

.total-tooltip {
  text-align: left;
  font-size: 11px;
  min-width: 120px;
  padding-top: 5px;

  .available,
  .approved,
  .in-process {
    margin-bottom: 5px;

    div:first-child {
      font-weight: 600;
      min-width: 60px;
      padding-right: 3px;
      @include flex(1);
    }
  }

  .available {
    div:first-child {
      color: $light-blue;
    }
  }

  .approved {
    div:first-child {
      color: $success-color;
    }
  }

  .in-process {
    div:first-child {
      color: $st-in-progress;
    }
  }
}

.timesheet-data {
  height: 26px;
  margin: -4px 4px 0;
  padding: 0 0;
  @include flexbox();
  position: relative;
  @include border-radius(3px);
  border: 1px solid $light-blue;

  input {
    padding: 0;
    border: none;
    font-size: 12px;
    color: $primary-text;
    width: 50%;
    text-align: center;

    &:focus {
      @include box-shadow(unset);
      border: none;
    }
  }

  &:not(.show-slash) input {
    width: 100%;
  }

  &.show-slash:before {
    content: "/";
    position: absolute;
    left: 50%;
    top: 2px;
    margin-left: -2px;
  }
}

.edited-tooltip {
  .title {
    text-align: center;
    font-size: 12px;
    margin-bottom: 4px;
  }

  .edited-row {
    text-align: left;
    font-size: 11px;
    margin-bottom: 2px;

    div:first-child {
      font-weight: 600;
      min-width: 60px;
      padding-right: 20px;
      @include flex(1);
    }

    div:nth-child(2) {
      width: 40px;
    }

    .character {
      color: $secondary-text;
    }
  }
}

.time-off-tooltip {
  text-align: left;
  padding: 4px 2px 5px;

  i {
    font-size: 14px;
  }

  .time-off-type {
    display: inline;
    white-space: normal;
    font-size: 13px;
    font-weight: 600;
    margin-bottom: 4px;
    @include break-word();
  }

  .date {
    font-size: 11px;
    margin-top: 2px;
    color: $placeholder;
  }
}

.time-off-type-tooltip {
  text-align: left;

  .status-label {
    margin-bottom: 5px;
  }

  .wrapper {
    position: relative;
    line-height: 16px;

    i {
      font-size: 11px;
      position: absolute;
      left: 0;
      top: 4px;
      margin-right: 6px;
    }

    a.new-link {
      padding-left: 13px;
      padding-left: 16px;
      white-space: normal;
    }
  }

  .approvers {
    font-size: 11px;
    color: $placeholder;
    margin-bottom: 4px;
  }

  .date {
    font-size: 12px;
    margin-bottom: 3px;
  }
}

.time-off__icon_wrapper {
  .time-off__icon {
    cursor: pointer;
  }
}

.dayOffTooltip {
  font-size: 12px;
  text-align: left;
  min-width: 120px;
  padding-bottom: 5px;

  .day-off-type0,
  .day-off-type10,
  .day-off-type20,
  .day-off-type30 {
    @include border-radius(2px);
    padding: 0 4px;
    font-size: 10px;
    line-height: 14px;
    font-weight: 600;
    margin-bottom: 3px;
    height: 16px;
    display: inline-block;
  }

  .day-off-type0 {
    color: rgb(230, 42, 34);
    background-color: rgba(230, 42, 34, 0.1);
  }

  .day-off-type10 {
    color: rgb(244, 184, 95);
    background-color: rgba(244, 184, 95, 0.1);
  }

  .day-off-type20 {
    color: rgb(84, 129, 247);
    background-color: rgba(84, 129, 247, 0.1);
  }

  .day-off-type30 {
    color: rgb(155, 189, 95);
    background-color: rgba(155, 189, 95, 0.1);
  }

}

.border-transparent {
  border-right-color: transparent !important;
}

.employee-detail {
  img {
    width: 32px;
    height: 32px;
    margin-right: 8px;
    @include border-radius(50%);
  }

  .text-wrapper {
    max-width: calc(100% - 40px);
    overflow: hidden;

    a,
    .employee-name,
    .employee-name-wrapper {
      line-height: 18px;
      white-space: normal;
      overflow: hidden;
      @include break-all();
      display: block;
      margin-bottom: 0;
    }

    a {
      color: $primary-color;
      line-height: 19px;

      &:hover {
        text-decoration: underline;
      }
    }

    a.new-link .employee-name + razor-tooltip-holder {
      @include flexbox();
    }

    .position + razor-tooltip-holder {
      .outer {
        font-size: 12px;
        color: $placeholder;
      }

      .outer + ngb-tooltip-window {
        .tooltip-inner {
          font-size: 11px;
        }
      }
    }

    .number {
      font-size: 13px;
      font-weight: 600;
      margin-right: 3px;
    }

    .employee-name + razor-tooltip-holder {
      font-weight: 600;
    }
  }
}

.min-width-200 {
  min-width: 210px !important;
}

.employee-detail-project {
  padding-left: 5px;

  .name {
    font-size: 13px;
    font-weight: 600;
    display: block;
  }

  .from-to, .hours {
    display: block;
    font-size: 11px;
  }
}



