aside.pcoded-navbar {
  width: 220px !important;
  border: 1px solid $border-color;
  background-color: $white !important;
  @include box-shadow(2px 0px 10px rgba(0, 0, 0, 0.1));
  @include transition(all 0.3s);
  height: calc(100vh - 54px) !important;
  position: fixed;
  top: 54px !important;
  z-index: 1029 !important;

  &.layout__sidebar--minimized {
    width: 48px !important;
    .copyright {
      display: none;
    }
  }
}

.layout.layout--normal .layout__content {
  width: calc(100% - 220px);
  &.full-length {
    width: 100%;
  }
}

.layout.layout--minimized .layout__content {
  width: calc(100% - 48px) !important;
  min-width: 0;
  &.full-length {
    width: 100% !important;
  }
}


.copyright {
  color: $secondary-text;
  font-size: 10px;
  text-align: center;
  position: absolute;
  bottom: 0px;
  left: 0;
  right: 0;
  font-weight: 600;
  padding: 15px 0px 10px;
}


