.tooltip {
  font-family: "Segoe UI", Arial, sans-serif;

  .tooltip-inner {
    @include box-shadow(0 0 15px 0 rgba(0, 0, 0, 0.25));
    @include border-radius(3px);
    background: $white;
    color: $primary-text;
    font-size: 13px;
    min-height: 26px;

    a {
      font-size: 13px;
      white-space: nowrap;
    }
  }

  &.bs-tooltip-right *:before {
    border-color: transparent;
    border-right-color: $white !important;
  }


  &.bs-tooltip-left *:before {
    border-color: transparent;
    border-left-color: $white !important;
  }

  &.bs-tooltip-top *:before {
    border-color: transparent;
    border-top-color: $white !important;
  }

  &.bs-tooltip-bottom *:before {
    border-color: transparent;
    border-bottom-color: $white !important;
  }
}

.time-off-details-tooltip {
  &.accruable {

    top: 5px !important;

    .tooltip-inner {
      max-width: 650px !important;
      min-width: 430px;
      text-align: left;
      padding: 10px 15px 5px 15px;

      .title {
        color: $light-blue;
        margin-bottom: 5px;
      }

      span.day-left {
        font-size: 12px;
        display: block;
        margin-bottom: 5px;
        font-weight: 600;
      }

      span:not(.day-left) {
        color: $placeholder;
        font-weight: 400;
      }
    }

    &.first-row {
      left: 120px !important;

      .arrow {
        left: 89px;
      }
    }

    &.first-grid {
      left: 110px !important;

      .arrow {
        left: 99px;
      }
    }

    &.last-grid {
      left: -125px !important;

      .arrow {
        left: 334px;
      }
    }
  }

}

.time-off-details-tooltip {
  top: 5px !important;

  .tooltip-inner {
    max-width: 150px !important;
    min-width: 100px;
    text-align: left;
    padding: 10px 15px 5px 15px;

    .title {
      color: $light-blue;
      margin-bottom: 5px;
    }

    span.day-left {
      font-size: 12px;
      display: block;
      margin-bottom: 5px;
      font-weight: 600;
    }

    span:not(.day-left) {
      color: $placeholder;
      font-weight: 400;
    }
  }
}

.razor-tooltip {
  .tooltip-inner {
    font-size: 11px;
  }
}

.absent-employee-tooltip {
  text-align: left;
  max-height: unset;

  .info-group {
    margin-bottom: 3px;

    &:last-child {
      margin-bottom: 0;
    }
  }

  .name {
    font-weight: 600;
    font-size: $font-size-small;
    color: $primary-text;
    margin-bottom: 5px;
  }

  .dates {
    font-size: 11px;
    color: $primary-text;
  }

  .timeoff-type {
    position: relative;

    i {
      margin-right: 5px;
      position: absolute;
      left: 0;
    }

    .time-offe-name {
      font-size: 12px;
      display: block;
      padding-left: 18px;
      width: 100%;
      line-height: 15px;
      font-weight: 600;
      max-height: 32px;
      color: $primary-text !important;
    }
  }
}

.dashboard-contact-tooltip {
  text-align: left;
  white-space: nowrap;
  min-width: 100px;
  font-size: 12px;
}

.contacts-tooltip {
  margin-left: 5px;
}

.actions-tooltip {
  .tooltip {
    left: 24px !important;

    .tooltip-inner {
      text-align: left;
      padding: 0px 8px;
      min-width: 150px;

      ul {
        li {
          padding: 6px 0;
        }
      }
    }
  }
}

.bulk-actions ~ ngb-tooltip-window {
  left: 24px !important;

  .tooltip-inner {
    max-width: 150px;
    min-width: 150px;
    text-align: left !important;

    a {
      white-space: normal;
      @include break-all();
    }
  }
}

.history-tooltip {
  > .tooltip-inner {
    width: 800px;
    text-align: left;
    max-width: inherit;
  }

  .tooltip-title {
    display: block;
    color: $light-blue;
    font-size: $font-size-base;
    margin-bottom: 10px;
    text-align: left;
  }

  .new-data-table {
    .datatable-header {
      top: 0;
    }
  }

  @media (max-width: 1450px) {
    > .tooltip-inner {
      width: 700px;
    }
  }

  @media (max-width: 1200px) {
    &.bs-tooltip-top-right {
      .arrow {
        right: 6.4px;
      }
    }
  }
}

.time-tracking-tooltip-wrapper {
  position: absolute;
  right: 0;
}

.time-tracking-row-info-tooltip {
  left: -10px !important;

  > .tooltip-inner {
    text-align: left;
    max-width: 300px;
    min-width: 220px;
    padding: 10px 8px 4px;

    .calendar-description {
      font-size: 12px;
      display: block;
    }

    .timeoff-icon {
      margin-right: 6px;
    }

    razor-tooltip-holder {
      .outer {
        vertical-align: sub;
      }
    }
  }
}

.quick-filter-actions-tooltip {
  text-align: left;

  .delete {
    color: $danger-color !important;
  }
}

.stage-info-tooltip {
  text-align: left;
  min-width: 84px;

  .deadline-row {
    font-size: 12px;
  }
}

.target-time-tooltip {
  .tooltip-inner {
    text-align: left;
    padding: 15px;
  }
}

@media only screen and (max-width: 1430px) {
  .time-off-details-tooltip.last-grid {
    &.accruable {
      left: -155px !important;

      .arrow {
        left: 400px;
      }
    }
  }
}
